html {
	color: #000;
	background: #FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
	font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

legend {
	color: #000;
}

/*.wrap {
	width: 16rem;
	margin: 0 auto;
}

.regist {
	text-align: center;
	width: 100%;
	padding-top: 30px;
}
#city{
	width: 15.5rem;
	text-align: left;
	padding-left: 1rem;
}
.regist div {
	font-size: 2rem;
	margin-bottom: 30px;
}

.regist p {
	margin-bottom: 15px;
}

.regist p span {
	display: inline-block;
	width: 35%;
	text-align: left;
}

.regist input:not(.sex) {
	width: 50%;
	border: 1px solid #333;
	border-radius: 5px;
}

.regist input:focus {
	outline: none;
}

.regist label.sex_label {
	display: inline-block;
	width: 50%;
	text-align: left;
}

.sex_label label:last-child {
	display: inline-block;
	width: 50%;
	text-align: center;
}

#btn_submit{
	width: 80%;
	height: 44px;
	border-radius: 5px;
	border: none;
	font-size: 20px;
}
#btn_submit:focus,
#btn_submit:active{
	outline: none;
} 

#btn_submit:active{
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);

}*/