body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,
img {
  border:0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style:normal;
  font-weight:normal;
}

ol,
ul {
  list-style:none;
}

caption,
th {
  text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,
q:after {
  content:'';
}
abbr,
acronym {
  border:0;
  font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
  vertical-align:text-top;
}
sub {
  vertical-align:text-bottom;
}
input,
textarea,
select {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
  *font-size:100%; /*to enable resizing for IE*/
}
/*because legend doesn't inherit in IE */
legend {
  color:#000;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }




/*按钮*/
.button-normal,
.button-cancle,
.button-other {
  width: 112px;
  height: 44px;
  padding: 0;
  background:  #DEE2FF;
  border: none;
  outline: none;
  color: #000000;
}

.button-normal:hover {
  background: #C4CAFA;
  color: #000000;
}

.button-normal:active,
.button-normal:active:focus,
.button-normal:focus {
  background: #C4CAFA;
  border: none;
  outline: none;
}

.button-cancle {
  background-color: #3F446E;
  color: #ffffff;
}

.button-cancle:hover {
  background: #30366A;
  color: #ffffff;
}

.button-cancle:active,
.button-cancle:active:focus,
.button-cancle:focus {
  background: #30366A;
  border: none;
  outline: none;
  color: #ffffff;
}

.button-other {
  background-color: #FFFFFF;
  border: 1px solid #35c99d;
  color: #35C99D;
}

.button-other:hover {
  border: 1px solid #2AB38B;
  background-color: #FFFFFF;
  color: #35C99D;
}

.button-other:active,
.button-other:active:focus,
.button-other:focus {
  border: 1px solid #2AB38B;
  background-color: #FFFFFF;
  color: #35C99D;
  outline: none;
}
/*表格*/
.table>thead>tr>th{
  color: #fff !important;
  border-bottom: 2px solid #555769 !important;
}
.table-primary  thead th {
  height: 54px !important;
  padding-top: 20px !important;
  padding-bottom: 20px;
  font-size: 16px;
  /*color: #666666;*/
  color: #fff;
}

.table-primary  tbody td {
  border-top: none !important;
  height: 48px !important;
  line-height: 30px !important;
  color: #fff;
}

.table-primary  tbody > tr:nth-of-type(even) {
  background: #262A50 !important;
}

.table-primary  tbody > tr:nth-of-type(odd) {
  background-color: #1D2141 !important;
}

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  /*background-color: #f5f5f5;*/
  /*border-right: 1px solid #eee;*/
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

@media (min-width:768px) {
  #main {
    padding-right: 50px;
    padding-left: 20px;
  }

}

@media screen and (max-width:768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .form-horizontal .control-label {
    text-align: right;
    padding-top: 7px;
  }

  #main {
    margin-left: 160px;
  }

  @media screen and (max-width:768px) {
    .subsystem-head {
      margin-left: 150px;
    }

  }

}

/* 加载动画开始 */
.loading {
  width: 150px;
  height: 15px;
  margin: 0 auto;
  margin-top: 100px;
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 999999999;
  display: none;
}

.loading span {
  display: inline-block;
  width: 15px;
  height: 100%;
  margin-right: 5px;
  border-radius: 50%;
  background: #354078;
  -webkit-animation: load 1.04s ease infinite;
}

.loading span:last-child {
  margin-right: 0px;
}

@-webkit-keyframes load {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.3);
  }

  100% {
    opacity: 0.2;
    -webkit-transform: scale(.3);
  }

}

.loading span:nth-child(1) {
  -webkit-animation-delay: 0.13s;
}

.loading span:nth-child(2) {
  -webkit-animation-delay: 0.26s;
}

.loading span:nth-child(3) {
  -webkit-animation-delay: 0.39s;
}

.loading span:nth-child(4) {
  -webkit-animation-delay: 0.52s;
}

.loading span:nth-child(5) {
  -webkit-animation-delay: 0.65s;
}

/* 加载动画结束 */


/*提示*/
span.warn-span{
  color: red;
}
.instructions span{
  color: red;
}


/*修改密码-开始*/

#changePassword-layer .form-horizontal{
  padding: 30px 50px;
  padding-left: 100px;
  padding-bottom: 0;
  text-align: center;
}
#changePassword-layer .form-horizontal label{
  width: 100px;
  padding-right: 0;
  text-align: left;
  padding-left: 0;
  color: #fff;
}
#changePassword-layer input{
  width: 60%;
  background: #1D2142;
  color: #fff;
  border: 1px solid rgba(143,152,186,0.31);
}
#changePassword-layer form > div label:nth-child(1){
  font-weight: normal;
}

/*修改密码-结束*/
/*退出登录*/
#logout {
  padding-top:30px;
  padding-left: 30px; 
  font-size: 14px;
}
#logout p{
  color: #fff;
  font-size: 14px;
}
/*退出登录*/

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background: #1C1F38;
}




/*下拉按钮*/
.selecttypes{
  float: left;
}
.selecttypes button.dropdown-toggle{
  background: red;
  border:none;
  background: #3F446E;
  color: #fff；
}
.selecttypes button.dropdown-toggle span{
    color: #fff;

}

.selecttypes button{
    width: 140px;
    height: 44px;
}
.selecttypes button span.txt{
    display: inline-block;
    width: 100px;
}
.selecttypes ul{
    min-width: 140px;
    margin-top: 8px;
    background: #3F446E;
}
.selecttypes ul::after {
    top: -6px;
    left: 116px;
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #3F446E;
    border-top: 0;
    position: absolute;
}
.selecttypes ul::before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #3F446E;
    border-top: 0;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 116px;
}
.selecttypes ul a{
    color: #fff;
}
.selectTime{
    float: left; 
    margin-left: 20px; 
}
.selectTime.form-group input.form-control{
  width: 140px;
  height: 44px;
  background: #3F446E;
  color: #fff;
  border:none;
}

/*layer-弹窗-开始*/
body .layui-layer.layui-layer-page.layui-primary{
  background: #1C1F38;
}
body .layui-primary .layui-layer-btn {
  text-align: left;
  padding-bottom: 30px;
  padding-left: 26px;
}

body .layui-primary .layui-layer-btn .layui-layer-btn0 {
  height: 40px;
  line-height: 40px;
  width: 114px;
  text-align: center; 
  border-radius: 2px;
  background:  #DEE2FF;
  border: none;
  outline: none;
  color: #000000;
}

body .layui-primary .layui-layer-btn .layui-layer-btn1 {
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  margin: 0 6px;
  padding: 0 40px;
  color: #a8a8a8;
  border-radius: 2px;
  background: #3F446E;
  border: none;
  outline: none;
  color: #fff;
}
body .layui-primary .layui-layer-btn .layui-layer-btn2{
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  margin: 0 6px;
  padding: 0 40px;
  color: #a8a8a8;
  border-radius: 2px;

}

body .layui-primary .layui-layer-btn .layui-layer-btn2:hover{
  background: #FFFFFF;
  color: #434343;
  border: 1px solid  #BDBDBD;
}

/*主体背景*/
.layui-layer.layui-layer-dialog.layui-layer-border.layui-layer-msg .layui-layer-content{
  background: #3E4687;
}
.layui-layer-content{
  background-color: #2C2F4C;
}
.layui-layer-content div > form{
  padding-right: 40px;
  padding-left: 40px;
  height: 100%;
}
.form-for-bottom{
  padding-right: 300px;
  border-bottom: 1px solid #606277;
  height: 100%;
  margin: 0;
}
.layui-layer-btn{

  background-color: #2B2E4B;
}
/*layer-弹窗-结束*/

/*分页-开始*/
a.tcdNumber,
a.prevPage,
a.nextPage {
  text-decoration: none;
}

.tcdPageCode {
  padding: 5px 10px;
  color: #ccc;
  text-align: center;
}

.tcdPageCode a.tcdNumber {
  display: inline-block;
  color: #838383;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
}
.tcdPageCode a.page-omit{
  color: #ccc;
  text-decoration: none;
}
.tcdPageCode a.prevPage,
.tcdPageCode a.nextPage,
.tcdPageCode span.disabled {
  display: inline-block;
  color: #9FA2A8;
  width: 30px;
  height: 30px;
  line-height: 25px;
  border: 1px solid #ddd;
  margin: 0 2px;
  border-radius: 15px;
  text-align: center;
}

.tcdPageCode span.current {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  color: #fff;
}

.tcdPageCode a.page-omit span {
  position: relative;
  top: -5px;
}

.tcdPageCode a.prevPage:after,
.tcdPageCode span.disabled-prve:after {
  font-family: 'fontAwesome';
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: 1px solid #9FA2A8;
  border-left: 1px solid #9FA2A8;
  margin-left: 2px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(-45deg);
}

.tcdPageCode a.nextPage:after,
.tcdPageCode span.disabled-next:after {
  font-family: 'fontAwesome';
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-left: -2px;
  border-top: 1px solid #9FA2A8;
  border-right: 1px solid #9FA2A8;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(45deg);
}
/*分页-结束*/