#treeview1 .list-group {
    width: 100%;
}

#treeview1 .list-group li {
    padding: 0;
}

#treeview1 .list-group a {
    text-decoration: none;
    width: 100%;
    display: inline-block;
    padding: 10px 0;
}

#treeview1 .list-group .list-group-active {
    background-color: #428BCA;
}

#treeview1 .list-group .list-group-active a {
    color: #FFFFFF;
}

.login_panel {
    margin-top: 10%;
}

.login_panel .panel-heading,
.login_panel .panel-body {
    text-align: center;
}


.container_login {
    min-width: 1000px;
}

.sidebar {
    min-width: 200px;
}

.data_monitoring_ul li:nth-child(3) {
    float: right;
}

#equipment_state {
    padding-top: 20px;
}

#bool_change,
#integer_change {
    display: none;
    padding: 20px 20px;
    padding-bottom: 0;
}

#main.point-set-main {
    min-width: 1000px;
}

.point-set-main .panel-body.first div:nth-child(1) button:nth-child(2),
.point-set-main .panel-body.first div:nth-child(1) button:nth-child(3){
    float: right;
}
.point-set-main .panel-body.first div:nth-child(1) button:nth-child(3) {
    margin-right: 5px;
}


#change_model,
#delete_point {
    display: none;
    padding: 20px 20px;
    padding-bottom: 0;
    text-align: center;
}
.create-rtu,
.create-tcp{
    display: none;
}

.create-rtus{
    display: block;
}


.create-rtu form,
.create-tcp form{
    width: 800px;
}
.create-rtu form label,
.create-tcp form label{
    min-width: 100px;
}

.create-rtu form > div.form-group:nth-child(2),
.create-rtu form > div.form-group:nth-child(3),
.create-tcp form > div.form-group:nth-child(2),
.create-tcp form > div.form-group:nth-child(3) {
    border: 1px solid #DEDEDE;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 10px;
    margin-left: -10px;
}
.create-rtu form > div.form-group:nth-child(3) > div.form-group:nth-child(3) label:last-child,  
.create-tcp form > div.form-group:nth-child(3) > div.form-group:nth-child(3) label:last-child {
    text-align: left;
    max-width: 20px;
    padding-left: 0;
}


#main .mandatory-input {
    max-width: 15px;
    min-width: 15px;
    color: red;
    padding: 0;
    padding-top: 10px;
}


.modus-tcp input,
.modus-rtu select,
.modus-rtu input{
    max-width: 150px;
    min-width: 150px;
}
.modus-tcp-div,
.modus-rtu-div{
    float: left;
    margin-left: 15px;
}
.modbus-main .panel-body form.form-horizontal:first-child div label:first-child:not(.modbus-title) {
    min-width: 100px;
}

.modbus-main .panel-body form.form-horizontal:first-child div label:last-child:not(.modbus-title) {
    text-align: left;
}


.server_states label:first-child,
.serverset > label,
.server_port >label {
    min-width: 110px;
}

.server_states label:last-child {
    text-align: left;
}

.serverset div label:first-child,
.server_port div label:first-child  {
    text-align: left;
    padding-left: 0;
    padding-right: 10px;
    width: 40px;
}
.serverset div input,
.server_port div input{
    width: 30%; 
    min-width: 200px;
}
.serverset div label:last-child{
    padding-left: 40px;
}
.server_btn{
    text-align: left;
}

.network_style form div.form-group label:first-child{
    min-width: 150px;
} 
.style-first label:last-child{
    text-align: left;
}
.network_style form input.network_input{
    width: 15%;
}
.network_style form div:last-child{
    margin-top: 40px;
}
.network_style form + div{
    text-align: left;
}

.system-panel ul li:last-child{
    float: right;
}
.system-manage-panel > div:first-child{
    text-align: right;
}
.system-manage-panel input{
    width: 30%;
}
.system-manage-panel > div:first-child button:last-child{
    margin-right: 10px;
}
.system-manage-panel form div.form-group label:first-child{
    min-width: 100px;
}
.system-manage-panel form div.form-group:first-child label:last-child{
    text-align: left;
}
.system-manage-panel form div.form-group:nth-child(2) label:nth-child(2){
    text-align: left;
    min-width: 200px;
}

.system-manage-panel form div.form-group:nth-child(2) ul li div:last-child{
    text-align: center;
}
.system-manage-panel form div.form-group:nth-child(3) input,
.system-manage-panel form div.form-group:nth-child(4) input,
.system-manage-panel form div.form-group:nth-child(5) input{
    width: 30%;
}
.system-manage-panel form + div{
    text-align: left;
}

.btn-init{
    margin-left: 30px
}
.sysmanwarn{
    width: 300px;
    margin-left: 70px;
}
.sysmanwarn span{
    color: red;
}

.pas_input{
    float: left;
}
.pas_warn{
    float: left;
    width: 150px;
}
#restart{
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
}

#change-time-layer input::-webkit-inner-spin-button {
-webkit-appearance: none;
}
#change-time-layer input::-webkit-outer-spin-button {
-webkit-appearance: none;
}
#change-time-layer{
    display: none;
}
#change-time-layer div {
    width: 100%;
}

#change-time-layer input{
    width:50px;   
}
#change-time-layer input:first-child{
    width: 60px;
    margin-left: 15px;
}
#change-time-layer label {
    width: 30px;
    max-width: 30px;
    min-width: 30px;
    padding: 0;
    padding-left: 8px;
    padding-top: 5px;
}
/*移除number 上下箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

a.a-edit{
    cursor: pointer;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 0;
    text-align: center;
}





/*修复选择框*/

.create-rtu form label.checklabel{
    width: 25px;
    min-width: 50px;
}
.checklabel{
    width: 25px;
    min-width: 25px;
}

.create-rtu form label.checkbox-i{
      min-width: 23px;width: 23px;
}
.bayaxcheckbox {
  display: none;
}
.checkbox-i {
  /*margin-right: 20px;*/
  background: url(green1.png) no-repeat;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  display: inline-block;
  position: relative;
  top: 5px;
  background-position: 0 0;

}
.checkbox-i:hover {
  background-position: -24px 0;
}
.bayaxcheckbox:checked + .checkbox-i {
  background-position: -48px 0;
}
.bayaxcheckbox:checked:hover + .checkbox-i {
  background-position: -48px 0;
}
.bayaxcheckbox:disabled + .checkbox-i {
  background-position: -72px 0;
}
.bayaxcheckbox:disabled:hover + .checkbox-i {
  background-position: -72px 0;
}


/*修复选择框*/

/*分页*/
.callBackPager{
    text-align: center;

}
/*分页*/


/*分页-开始*/
   
.tcdPageCode{
    margin: 0 auto;
}

a.tcdNumber,
a.prevPage,
a.nextPage {
  text-decoration: none;

}
 .tcdPageCode a:hover
{
  background-color: #eeeeee;
}
.tcdPageCode a,
.tcdPageCode span{
    position: relative;
    /*float: left;*/
    padding: 7px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.tcdPageCode {
  padding: 5px 10px;
  color: #ccc;
  text-align: center;
}


.tcdPageCode a.page-omit span{
    padding: 0;
    border: none;
}

.tcdPageCode span.current {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.tcdPageCode a.page-omit span {
  position: relative;
  top: -5px;
}
.tcdPageCode a.page-omit:hover span{
     background-color: #eeeeee;
}

/*分页-结束*/
/*angular*/
.bordered{
    border:1px solid red;
}
/*angular*/