<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<meta name="apple-touch-fullscreen" content="YES" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<style>
	button{
		padding:10px;
		color: red;
	};
</style>
</head>
<body>
	<button id="getSign">获取签名</button>
	<button id="scanQRCode1">扫描</button>
</body>
<script type="text/javascript" src="./zepto.js"></script>
<script type="text/javascript"
	src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script type="text/javascript">
	$(function() {
        $('#getSign').on('click', function(event) {
        	event.preventDefault();
        	$.post("/getSignature", {}, function(config) {
			if (config != undefined && config != null) {

				wx.config({
					debug : true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
					appId : 'wxac2865fb58ff011c', // 必填，appID公众号的唯一标识
					timestamp : config.timestamp, // 必填，生成签名的时间戳
					nonceStr : config.nonceStr, // 必填，生成签名的随机串
					signature : config.signature,// 必填，签名，见附录1
					jsApiList : [ 'scanQRCode' ]
				// 必填，需要使用的JS接口列表，所有JS接口列表见附录2
				});
				alert('配置成功！');
			}
		  });
        });

		

		wx.ready(function() {
			// 9.1.2 扫描二维码并返回结果
			document.querySelector('#scanQRCode1').onclick = function() {
				wx.scanQRCode({
					needResult : 1,
					desc : '微信调扫描',
					success : function(res) {
						//扫描成功的返回值
						alert(JSON.stringify(res));
					}
				});
			};

		});
	});
</script>
</html>

