.button {
	display: inline-block;
	position: relative;
	/*background: red;*/
	width: 75px;
	height: 27px;
	left: -8px;
	/*top: 8px;*/
	/*margin-left: 35px;*/
	/*margin: 0;*/
	/*-webkit-transform: translate(-50%, -50%);*/
	/*-ms-transform: translate(-50%, -50%);*/
	 /* transform: translate(-50%, -50%); */
	border-radius: 40px;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button span {
	position: absolute;
	display: block;
}

.button span:first-of-type {
	z-index: 100;
	top: 6px;
	width: 21px;
	height: 22px;
	background: -webkit-linear-gradient(top, #428BCA 0%, #428BCA 100%);
	border-radius: 36px;   
	border: 1px solid #ddd;
	right: 8px;
}

.button span:nth-last-of-type(-n+2) {
	z-index: 10;
	top: 4px;
	width: 67px;
	height: 27px;
	border: 1px solid #ddd;
	border-radius: 36px;
}

.button span:nth-last-of-type(-n+2):after {
	position: absolute;
	top: 5px;
	line-height: 1;   
	font-size: 10px;
	color: #666;   
	right: 8px;
	text-align: right;
	font-weight: normal;
}

.button span:nth-of-type(2) {
	left: 4px;
	background: #fff;
	border-radius: 36px;   
	border: 1px solid #ddd;
}

.button span:nth-of-type(2):after {
	content: "有效";
	left: 5px;
	text-align: left;
}

.button span:last-of-type {
	right: 4px;    /* background: -webkit-linear-gradient(top, #2ecc71 0%, #7ee2a8 100%); */

	/* background: linear-gradient(to bottom, #2ecc71 0%, #7ee2a8 100%); */
	border-top-right-radius: 36px;
	border-bottom-right-radius: 36px;    /* box-shadow: -4px 4px 12px 4px rgba(0, 0, 0, 0.5) inset, 0 -2px 8px rgba(0, 0, 0, 0.4) inset; */
	opacity: 0;
	border: 1px solid #ddd;
	background: #fff;
}

.button span:last-of-type:after {
	content: "无效";
	left: 13px;
}

.button input[type="checkbox"] {
	display: none;
}

.button input[type="checkbox"]:checked ~ span:first-of-type {
	right: 46px;
	border: 1px solid #ddd;
	background: #ddd;
}

.button input[type="checkbox"]:checked ~ span:nth-of-type(2) {
	opacity: 0.2;
}

.button input[type="checkbox"]:checked ~ span:last-of-type {
	opacity: 1;
}
