body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0;
}
body, button, input, select, textarea {
	font: 12px/1.5tahoma, arial, \5b8b\4f53;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}
address, cite, dfn, em, var {
	font-style: normal;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
}

fieldset, img {
	border: 0;
}
button, input, select, textarea {
	font-size: 100%;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}










html {
	background-color: #FED900;
	-webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(254,217,0,0);
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
    font-family: '微软雅黑';
}


#divs{
	margin: 0 auto;
	background-color: red;
	text-align: center;
}
#btn{
	/*width: 90%;*/
	width: 
	height: 2rem;
}













.wrapper{
    width: 16rem;
    overflow: hidden;
    margin: 0 auto;
    font-size: .7rem;
}
ul li{
	list-style-type: none; 
}
a{
	text-decoration: none;
}
.audio_btn{
	width: 1.6rem;
	margin: .5rem 0 0 .5rem;
}
section{
	width: 100%;
	height: 100%;
}
section:nth-of-type(1){
	text-align: center;
}
section:nth-of-type(1) .div1{
	margin: 0 auto;
	width: 14.825rem;
	height: 19.775rem;
	background: url('http://static.lanxiniu.cn/Public/wap2/mustmove/img/p1.png') no-repeat ;
	background-size: 14.825rem  19.775rem;
}
section:nth-of-type(1) .a1{
	width: 9.95rem;
	height: 2.95rem;
	display: inline-block;
	background: url('http://static.lanxiniu.cn/Public/wap2/mustmove/img/p1btn.png') no-repeat ;
	background-size: 9.95rem  2.95rem;
	margin-top: -2rem;
}
.dspn{
	display: none;
}
.last_bg{
	position: fixed;
	bottom: 0rem;
	width: 16rem;
	height: 4.375rem;
	background: url('http://static.lanxiniu.cn/Public/wap2/mustmove/img/p2bot.png') no-repeat;
	background-size: 16rem  4.375rem;
	z-index: -1;
}
.detail_reason{
	/*margin: 1.4rem 1.25rem 0;*/
	margin: 0rem 1.25rem 0;
	text-align: center;
	overflow: hidden;
	height: 10rem;
}
.detail_reason > li{
	min-width: 1.95rem;
	max-width: 13.5rem;
	display: inline;
	float: left;
	border: 1px #632D34 solid;
	border-radius: 30px;
	text-align: center;
	font-size: .7rem;
	height: 1.95rem;
	line-height: 1.95rem;
	padding: 0 .8rem;
	margin: 0 .2rem .55rem;
}
.before{
	background: #FFFFFF;
	color: #6A0A16;
}
.after{
	background: #E70051;
	color: white;
}
.detail_reason li .reason{
	display: inline-block;
	min-width: 2rem;
	max-width: 9.9rem;
	overflow:hidden;
	white-space:nowrap; 
	text-overflow:ellipsis;
}
.detail_reason li .zan{
	display: none;
	float: right;
	background: url('http://static.lanxiniu.cn/Public/wap2/mustmove/img/zan.png') no-repeat;
	background-size: 1.1rem 1rem;
	width: 1.1rem;
	height: 1rem;
	margin: 6px 0 0 8px;
}
.somethings{
	text-align: center;
}
.somethings p{
	font-weight: normal;
	color: #741A0D;
	margin-top: .7rem;
}
.somethings a{
	width: 6.5rem;
	height: 2rem;
	display: inline-block;
	border:1px solid #E70151;
	border-radius: 1rem;
	font-size: .9rem;
	line-height: 2rem;
	color: #E70454;
	font-weight: 600;
	background-color: white;
	margin-top: .6rem;
}
.somethings div,.tucao_text .true_style{
	margin:1.5rem auto 0rem;
	line-height: 2.9rem;
	width: 11.075rem;
	height: 3.15rem;
	background-size: 11.075rem  3.15rem;
	font-weight: 600;
	font-size: 1.15rem;
}
.false_style{
	background: url('http://static.lanxiniu.cn/Public/wap2/mustmove/img/false.png') no-repeat ;
	color: #FFFFFF;
}
.true_style{
	background: url('http://static.lanxiniu.cn/Public/wap2/mustmove/img/true.png') no-repeat ;
	color: #632D34;
}
.mask-shadow,.mask-shadows{
    position: absolute;
    z-index: 300;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.mask-pointer {
    position: absolute;
    display: none;
    z-index: 400;
    left: 13%;
    top: 10%;
    width: 12.5rem;
    height: 3.4rem;
}
.mask-pointer1 {
    position: absolute;
    display: none;
    z-index: 400;
    left: 3.05rem;
    top: 5.5rem;
    width: 10.05rem;
    height: 4.875rem;
}
.mask-pointer2 {
    position: absolute;
    display: none;
    z-index: 400;
    left: 1.05rem;
    top: 3.5rem;
    width: 13.75rem;
    height: 11.5rem;
}
section:nth-of-type(3) h1{
	text-align: center;
	font-size: .9rem;
	color: #721E0D;
	font-weight: 600;
	letter-spacing: 2px;
	margin: 0 0  .75rem; 
}
.list_top{
	margin: 0 0 .5rem .7rem ;
}
.list_top span{
	font-size: .7rem;
	display: inline-block;
	vertical-align: middle;
	color: #794D14;
}
.list_top .detail{
	color: white;
	border-radius: 30px;
	border: 1px #632D34 solid;
	max-width: 8.5rem;
	padding: 0.5rem 0.8rem;
	background-color: #E70051;
}
.tucao_text{
	padding: 0 0  0 1.3rem;
	color: #794D14;
}
.tucao_text textarea{
	width: 13.4rem;
	height: 3.3rem;
	resize: none;
	margin: .4rem 0 .8rem;
}
.tucao_text .submit{
	width: 6.5rem;
	line-height:2.15rem;
	text-align: center;
	margin: 0 auto;
	background-color: white;
	color: #E70655;
	border-radius: 30px;
	border:1px solid #E70051;
}
.tucao_text .submit_success{
	background-color: #ccc;
	color: white;
	border:1px solid white;
}
.tucao_text .true_style{
	text-align: center;
}
.phone_input{
	position: absolute;
	z-index: 400;
    left: 1.9rem;
    top: 6.5rem; 
	width: 10.9rem;
	height: 3.85rem;
	background-color: white;
	padding: 1.5rem .7rem 0;
	border-radius: 5px;
}
.phone_input  div{
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid #ECECEC;
}
.phone_input input{
	width: 6.9rem;
	line-height: 2rem;
	border: none;
	outline: none;
	float: left;
}
.phone_input span{
	display: inline-block;
	width: 3.45rem;
	height: 2.125rem;
	background:url('http://static.lanxiniu.cn/Public/wap2/mustmove/img/lingqu.png') no-repeat ;
	background-size: 3.45rem 2.125rem;
	float: right;
}
.lingqu_success div{
	width: 16rem;
	height: 11.475rem;
	background:url('http://static.lanxiniu.cn/Public/wap2/mustmove/img/lingquan.png') no-repeat 2rem 0;
	background-size: 12.775rem 11.475rem;
}
.lingqu_success a,._share{
	background-color: #E70051;
	color: white;
	margin: 0 auto;
}
.btn_{
	display: block;
	width: 13.5rem;
	line-height: 2.25rem;
	text-align: center;
	border-radius: 5px;
	border:1px solid #51231A;
	font-size: .9rem;
}
.received_over .more_favorable{
	background-color: #18DAF7;
	color: #51231A;
	margin: .6rem auto 0;
}
.received_over p{
	text-align: center;
	font-size: .8rem;
	margin: 4.55rem 0 2rem;
}
.text_info{
	width: 13.6rem;
	height: 4.35rem;
	background:url('http://static.lanxiniu.cn/Public/wap2/mustmove/img/text.png') no-repeat 0 0;
	background-size: 13.6rem 4.35rem;
	margin: 1rem auto 1rem;
}
.LXN_popup{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0,0,0,0);
    display: none;
}
.LXN_popup .popup {
    width: 56%;
    border: 0;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}
.LXN_popup .popup .btn {
    display: none;
}
/*ä¸‹è½½ å®¢æˆ·ç«¯*/
.down-banner {
    width: 100%;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
}
.down-app {
    position: fixed;
    z-index: 400;
    left:12.55rem;
    bottom: .8rem;
    width: 2.9rem;
    height: 1.35rem;
    display: inline-block;
}
.Animate{
	-webkit-animation:rotateIn 1s .2s linear both infinite;
	-moz-animation:rotateIn 1s .2s linear both infinite;
}
@-webkit-keyframes rotateIn{
	0%{-webkit-transform-origin:center center;
	-webkit-transform:rotate(-360deg);
	}
	100%{-webkit-transform-origin:center center;
	-webkit-transform:rotate(360);
	}
}
@-moz-keyframes rotateIn{
	0%{-moz-transform-origin:center center;
	-moz-transform:rotate(-360deg);
	}
	100%{-moz-transform-origin:center center;
	-moz-transform:rotate(360);
	}
}