
/*评论图片*/
.clearfix:after {
    content: '';
    display: block;
    clear: both
}
.ul-img{
  background: red;
}
.ul-img .pic {
    position: relative;
    overflow: hidden;
    background: blue;
}

.ul-img .pic:before {
    content: "";
    display: block;
    padding-top: 100%
}

.ul-img .pic>.img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: yellow;*/
}

.ul-img .pic img {
    vertical-align: middle
}

.ul-img .li-img {
    float: left;
    width: 40%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 4px;
}

.li-img .img-wrapper {
    overflow: hidden
}

.li-img .img-wrapper img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: initial;
}

.li-img.last .pic {
    color: #898B92;
    font-size: 14px
}







*{
  margin: 0;
  padding: 0;
}


ol,
ul {
  list-style:none;
}





