/*.content{
	display: flex;
	flex-flow: row wrap;
	background-color: red;
	height: 500px;
}
.left,
.right,
.center{
	flex: 1;
	background-color: blue;
	border:1px solid #eee;
	text-align: center;
}
{
	flex: 1;
}*/
*{
	margin: 0;
	padding: 0;
}
.content{
	
	height: 500px;
}
.left,
.right,
.center{
float: left;
width: 33.33333333333333333333%;
background-color: red;
/*border:1px solid #eee;*/
}
.left div,
.right div,
.center div{
	margin-right: 100px;
	border-left:1px solid #eee;
	text-align: center;
	background-color: #eee;
}
.left div{
	border-left: none;

}
