html {
    background: #FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

html {
    background-color: #15182D;
}

body {
    font-family: "微软雅黑";
    background-color: #15182D;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?40uluf');
    src: url('../fonts/icomoon.eot?40uluf#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?40uluf') format('truetype'), url('../fonts/icomoon.woff?40uluf') format('woff'), url('../fonts/icomoon.svg?40uluf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: "\e145";
}

.icon-arrow_drop_down:before {
    content: "\e5c5";
}

.icon-arrow_drop_up:before {
    content: "\e5c7";
}

.icon-cancel:before {
    content: "\e5c9";
}

.icon-format_list_bulleted:before {
    content: "\e241";
}

.icon-highlight_off:before {
    content: "\e888";
}

.icon-keyboard_arrow_down:before {
    content: "\e313";
}

.icon-keyboard_arrow_left:before {
    content: "\e314";
}

.icon-keyboard_arrow_right:before {
    content: "\e315";
}

.icon-keyboard_arrow_up:before {
    content: "\e316";
}

.icon-remove:before {
    content: "\e15b";
}

.icon-search:before {
    content: "\e8b6";
}


/*清浮动*/

.clearfix:after {
    content: ".";
    /*加一段内容*/
    display: block;
    /*让生成的元素以块级元素显示，占满剩余空间*/
    height: 0;
    /*避免生成的内容破坏原有布局高度*/
    clear: both;
    /*清除浮动*/
    visibility: hidden;
    /*让生成的内容不可见*/
}


/*按钮*/

.bayax-btn,
.bayax-btn-cancel {
    background: #DEE2FF;
    color: #000;
    height: 44px;
    line-height: 44px;
    padding: 0 22px;
    width: 112px;
}

.bayax-btn:hover {
    color: #000;
    background: #C4CAFA;
}

.bayax-btn-cancel {
    color: #fff;
    background: #3F446E;
}

.bayax-btn-cancel:hover {
    background: #30366A;
}


/* 按钮 */


/* 下拉按钮组 */

.bayax-select-group {
    position: relative;
    width: 112px;
}

.bayax-select-group ul {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    padding: 5px 0;
    z-index: 999;
    min-width: 100%;
    border: 1px solid #d2d2d2;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
    box-sizing: border-box;
    background: #3F446E;
    border: 1px solid rgba(143, 152, 186, 0.31);
    color: #fff;
}

.bayax-anim-upbit {
    -webkit-animation-name: layui-upbit;
    animation-name: layui-upbit;
}

.bayax-anim {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bayax-select-group ul li {
    margin-bottom: 1px;
    color: #fff;
    cursor: pointer;
    padding: 0 10px;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bayax-select-group ul li:hover {
    background: #1C1F38;
}


/* 下拉按钮组 */


/*content-body*/

.content-head+.content-body {
    margin-top: 15px;
}

.content-body {
    padding-right: 20px;
}

.content-body-border-top {
    background-image: -webkit-linear-gradient(left, #C96DD8 20%, #3023AE 100%);
    height: 2px;
}

.content-main {
    background: #1C203F;
    padding: 20px 20px;
}


/*select input textarea*/

.layui-input {
    background: transparent;
    color: #fff;
}

.layui-input,
.layui-select,
.layui-textarea {
    border: 1px solid rgba(143, 152, 186, 0.31);
    color: #fff;
}

.layui-input:disabled {
    cursor: not-allowed!important;
}

.layui-select-disabled .layui-disabled {
    border-color: rgba(143, 152, 186, 0.31)!important;
}

.layui-input:hover,
.layui-select:hover,
.layui-textarea:hover {
    border: 1px solid rgba(143, 152, 186, 0.31) !important;
    color: #fff;
}

.layui-input:focus,
.layui-select:focus,
.layui-textarea:focus {
    border: 1px solid rgba(143, 152, 186, 0.31) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.layui-form-select dl {
    background: #3F446E;
    border: 1px solid rgba(143, 152, 186, 0.31);
    color: #fff;
}

.layui-form-select dl dd {
    margin-bottom: 1px;
    color: #fff;
}

.layui-form-select dl dd:hover,
.layui-form-select dl dt:hover {
    background: #1C1F38!important;
    color: #fff;
}

.layui-form-select dl dd.layui-this {
    background-color: #1C1F38;
    color: #fff;
}

.bayax-textarea {
    background: transparent;
    color: #fff;
    border: 1px solid rgba(143, 152, 186, 0.31);
    padding: 5px 10px;
    border-radius: 2px;
    resize: none;
}

.bayax-textarea:focus {
    border: 1px solid rgba(143, 152, 186, 0.31) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}


/*表格 bayax-table */

.bayax-table {
    width: 100%;
}

.bayax-table td {
    max-width: 200px;
    min-width: 35px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.bayax-table .td-check {
    width: 90px;
}

.bayax-table>thead>tr>th {
    color: #fff;
    border: none;
    border-bottom: 2px solid #555769;
    vertical-align: bottom;
    background: #1C203F;
    font-size: 16px;
    color: #fff;
    text-align: left;
    padding: 9px 10px;
    padding-bottom: 15px;
}

.bayax-table tbody td {
    border-top: none;
    height: 48px;
    line-height: 30px;
    color: #fff;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
}

.bayax-table tbody td a {
    color: #428bca;
    margin-right: 10px;
}

.bayax-table tbody td:last-child a:last-child {
    margin-right: 0;
}

.bayax-table tbody td a:hover {
    color: #2a6496;
    text-decoration: underline;
}

.bayax-table tbody>tr:nth-of-type(even) {
    background: #262A50;
}

.bayax-table tbody>tr:nth-of-type(odd) {
    background-color: #1D2141;
}


/*表格 bayax-table */


/* ul  li */

.bayax-ul li {
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
}

.bayax-ul li:nth-of-type(even) {
    background: #191c33;
}

.bayax-ul li:nth-of-type(odd) {
    background-color: #262A50;
}


/* ul  li */


/*checkbox*/

.layui-form-checkbox i {
    color: transparent;
}

.layui-form-checkbox[lay-skin=primary] i {
    width: 20px;
    height: 20px;
    line-height: 22px;
    font-size: 16px;
    background-color: transparent;
}

.layui-form-checked[lay-skin=primary] i {
    border-color: #A78FBD;
    background-color: #A78FBD;
}

.layui-form-checkbox[lay-skin=primary]:hover i {
    border-color: #A78FBD;
    color: transparent;
}

.layui-checkbox-disbaled[lay-skin=primary]:hover i {
    color: transparent!important;
    border-color: #fff;
}

.layui-form-checked.layui-checkbox-disbaled[lay-skin=primary] i {
    background: #D2D2D2;
    border: none;
}

.layui-form-checked.layui-checkbox-disbaled[lay-skin=primary]:hover i {
    color: #fff!important;
    border-color: transparent;
}

.layui-form-checked[lay-skin=primary]:hover i {
    color: #fff;
}

.layui-form-checkbox[lay-skin=primary] span {
    float: right;
    line-height: 20px;
    /* font-size: 16px; */
    color: #fff;
}

.layui-form-checkbox[lay-skin=primary] span {
    color: #fff;
    line-height: 20px;
}


/*checkbox*/


/*分页-开始*/

a.tcdNumber,
a.prevPage,
a.nextPage {
    text-decoration: none;
}

.tcdPageCode {
    padding: 15px 10px;
    color: #ccc;
    text-align: center;
    padding-bottom: 0;
}

.tcdPageCode a.tcdNumber {
    display: inline-block;
    color: #838383;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}

.tcdPageCode a.page-omit {
    color: #ccc;
    text-decoration: none;
}

.tcdPageCode a.prevPage,
.tcdPageCode a.nextPage,
.tcdPageCode span.disabled {
    display: inline-block;
    color: #9FA2A8;
    width: 28px!important;
    height: 28px!important;
    line-height: 25px;
    border: 1px solid #ddd;
    margin: 0 2px;
    border-radius: 15px;
    text-align: center;
}

.tcdPageCode span.current {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    color: #fff;
}

.tcdPageCode a.page-omit span {
    position: relative;
    top: -5px;
}

.tcdPageCode a.prevPage:after,
.tcdPageCode span.disabled-prve:after {
    font-family: 'fontAwesome';
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-top: 1px solid #9FA2A8;
    border-left: 1px solid #9FA2A8;
    margin-left: 3px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(-45deg);
}

.tcdPageCode a.nextPage:after,
.tcdPageCode span.disabled-next:after {
    font-family: 'fontAwesome';
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: -4px;
    border-top: 1px solid #9FA2A8;
    border-right: 1px solid #9FA2A8;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(45deg);
}


/*分页-结束*/


/* 加载动画开始 */

.loading {
    width: 150px;
    height: 15px;
    margin: 0 auto;
    margin-top: 100px;
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 198910199;
    display: none;
}

.loadingShow {
    display: block;
}

.loading span {
    display: inline-block;
    width: 15px;
    height: 100%;
    margin-right: 5px;
    border-radius: 50%;
    background: #354078;
    -webkit-animation: load 1.04s ease infinite;
}

.loading span:last-child {
    margin-right: 0px;
}

@-webkit-keyframes load {
    0% {
        opacity: 1;
        -webkit-transform: scale(1.3);
    }
    100% {
        opacity: 0.2;
        -webkit-transform: scale(.3);
    }
}

.loading span:nth-child(1) {
    -webkit-animation-delay: 0.13s;
}

.loading span:nth-child(2) {
    -webkit-animation-delay: 0.26s;
}

.loading span:nth-child(3) {
    -webkit-animation-delay: 0.39s;
}

.loading span:nth-child(4) {
    -webkit-animation-delay: 0.52s;
}

.loading span:nth-child(5) {
    -webkit-animation-delay: 0.65s;
}


/* 加载动画结束 */


/*弹窗样式初始化*/

.layer-default {
    display: none;
}

.layui-layer.layui-layer-dialog.layui-layer-border.layui-layer-msg .layui-layer-content {
    background: #3E4687;
}

.layui-layer-page .layui-layer-content {
    background-color: #2B2E4B;
}

.layui-layer-btn {
    background-color: #2B2E4B;
}

body .layui-primary .layui-layer-btn a {
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    border-radius: 2px;
    background: #DEE2FF;
    border: none;
    outline: 0;
    color: #000;
}

body .layui-primary .layui-layer-btn a:last-child {
    color: #fff;
    background: #3F446E;
}

.layui-layer-page .layui-layer-content {
    overflow: inherit !important;
}


/*自定义*/

.bayax-layer-content {
    padding: 20px 0;
    margin-left: 20px;
    margin-right: 20px;
    /*border-bottom: 1px solid #606277;*/
    color: #fff;
}


/*弹窗样式初始化*/


/*隐藏 *显示*/

.basehide {
    display: none;
}

.baseshow {
    display: block;
}


/*隐藏 *显示*/


/* 滚动条样式 */

.bayaxMscroll .mCustomScrollBox .mCSB_draggerContainer .mCSB_draggerRail {
    background: transparent;
}

.bayaxMscroll .mCustomScrollBox .mCSB_container {
    margin-right: 10px;
}

.bayaxMscroll .mCSB_scrollTools {
    margin-left: -3px;
    margin-right: -3px;
}