/* 头部   -begin */

.draw2d-canvas.bayax-layout-admin .bayax-layout-header {
    height: 64px;
    line-height: 66px;
    border: none!important;
}

.bayax-header {
    position: fixed;
    z-index: 1000;
}

.draw2d-canvas .bayax-layout-header .bayax-logo {
    width: 280px;
    position: absolute;
    text-align: center;
    top: 0;
    height: 100%;
    line-height: 60px;
    font-size: 16px;
}

.bayax-layout-header .bayax-logo img {
    width: 127px;
    height: 27px;
}

.bayax-layout-left {
    position: absolute!important;
    left: 280px;
    top: 0;
    overflow: hidden;
}

.bayax-layout-admin .bayax-layout-header .layui-nav {
    background: 0 0;
}

.bayax-layout-admin .bayax-layout-header .bayax-nav {
    background: 0 0;
}

.bayax-nav {
    position: relative;
    padding: 0 20px;
    border-radius: 2px;
    font-size: 14px;
    box-sizing: border-box;
}

.bayax-nav .layui-nav-item {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    line-height: 60px
}

.draw2d-canvas .layui-nav-item.head span {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.draw2d-canvas .go-subsys i {
    font-size: 25px;
    position: relative;
    top: 6px;
}

.draw2d-canvas .group-name,
.draw2d-canvas .image-name {
    max-width: 200px;
}

.draw2d-canvas span.title {
    font-weight: 700;
}

.draw2d-canvas.bayax-layout-admin .bayax-layout-header2 {
    height: 85px;
    line-height: normal;
}

.draw2d-canvas.bayax-layout-admin .bayax-layout-header2,
.draw2d-canvas.bayax-layout-admin .bayax-layout-header2 .bayax-logo {
    background: #1C1F38;
}

.draw2d-canvas.bayax-layout-admin .bayax-layout-header2 .bayax-logo {
    line-height: normal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.toolbar {
    position: absolute;
    top: -8px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    margin: auto;
}

.toolbar li {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    font-size: 12px;
    cursor: pointer;
}

.toolbar li:first-child {
    margin-left: 25px;
}

.toolbar li:nth-child(3) {
    width: 50px;
}

.bayax-layout-header2 .bayax-logo .toolbar li span span {
    /* width: 24px; */
    /* height: 24px; */
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid transparent;
}

.bayax-layout-header2 .bayax-logo .toolbar li span span {
    background: url(../images/img/img.png) no-repeat;
}

.Path972 {
    height: 14px;
    width: 8px;
    background-position: -1px -1px!important;
}

.Path973 {
    height: 14px;
    width: 8px;
    background-position: -1px -15px!important;
}

.huifu {
    height: 24px;
    width: 24px;
    background-position: -1px -29px!important;
}

.baocun {
    height: 24px;
    width: 24px;
    background-position: -1px -53px!important;
}

.chexiao {
    height: 24px;
    width: 24px;
    background-position: -1px -77px!important;
}

.clear {
    height: 24px;
    width: 24px;
    background-position: -1px -101px!important;
}

.delete {
    height: 24px;
    width: 24px;
    background-position: -1px -125px!important;
}

.bayax-layout-lefttwo {
    right: 0;
    height: 85px;
}

.bayax-layout-lefttwo .layui-tab-title {
    height: 22px;
    padding-left: 16px;
}

.bayax-layout-lefttwo .layui-tab-title li {
    font-size: 14px;
    line-height: normal;
    min-width: 30px;
    padding: 0;
    margin-left: 20px;
    height: 21px;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.bayax-layout-lefttwo .layui-tab-title li:first-child {
    margin-left: 7px;
}

.bayax-layout-lefttwo .layui-tab-title .layui-this:after {
    width: 0%;
    height: 0;
    border: none;
}

.comportant-ul {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    padding-left: 16px;
    margin: auto;
    overflow: hidden;
}

.comportant-ul li {
    float: left;
    /* width: 40px; */
    height: 40px;
    margin-left: 15px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    /* background: red; */
}

.comportant-ul li:first-child {
    margin-left: 0;
}

.comportant-ul li span {
    /* width: 24px; */
    /* height: 24px; */
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid transparent;
}

.comportant-ul li p {
    position: relative;
    top: -3px;
}


/*滚动条-开始*/

.scroll-ul.comportant-ul {
    position: relative;
    top: 2px;
    padding: 0;
    padding-right: 15px;
}

.scroll-ul.comportant-ul li {
    position: relative;
}

.scroll-ul.comportant-ul li:first-child {
    /* margin-left: 15px; */
}

.components-num4 {
    overflow: hidden;
    zoom: 1;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* background: red; */
}

.components-num4 .pcont {
    width: 90%;
    float: left;
    overflow: hidden;
    padding-left: 5px;
}

.components-num4 .ScrCont {
    width: 327699px;
    zoom: 1;
    margin-left: -5px;
}

.components-num4 #scroll_ul_1,
.components-num4 #scroll_ul_2 {
    float: left;
}

.components-num4 .LeftBotton,
.components-num4 .RightBotton {
    width: 15px;
    height: 54px;
    float: left;
    /* position: relative; */
}

.components-num4 .LeftBotton {
    margin: 15px -5px 0 5px;
    width: 30px;
    background: url(../images/img/Path973.png) no-repeat;
}

.components-num4 .RightBotton {
    margin: 15px 1px 0 15px;
    /* width: 30px; */
    background: url(../images/img/Path972.png) no-repeat;
}

.components-num4 .space-border-before:before,
.components-num4 .space-border:after {
    width: 2px;
    height: 24px;
    content: "";
    top: 12px;
    right: -8px;
    position: absolute;
    background: #DEDEDE;
}

.components-num4 .space-border-before:before {
    left: -5px;
}


/*滚动条-结束*/

.componentImg {
    background: url(../images/img/componentImg.png) no-repeat;
}

.ArrowDown {
    height: 14px;
    width: 11px;
    background-position: 0 0;
}

.ArrowLeft {
    height: 11px;
    width: 14px;
    background-position: -13px -1px;
}

.label {
    height: 12px;
    width: 17px;
    background-position: -27px -1px;
}

.jpgbutton {
    height: 11px;
    width: 19px;
    background-position: -43px -1px;
}

.left {
    height: 24px;
    width: 24px;
    background-position: -62px -1px;
}

.leveldouble {
    height: 24px;
    width: 24px;
    background-position: -86px -1px;
}

.menjin {
    height: 24px;
    width: 24px;
    background-position: -110px -1px;
}

.liquid {
    height: 24px;
    width: 24px;
    background-position: -134px -1px;
}

.monitoring {
    height: 24px;
    width: 24px;
    background-position: -158px -1px;
}

.jpg button {
    height: 24px;
    width: 24px;
    background-position: -182px -1px;
}

.Incandescent {
    height: 24px;
    width: 24px;
    background-position: -206px -1px;
}

.jpg {
    height: 24px;
    width: 24px;
    background-position: -230px -1px;
}

.LED {
    height: 24px;
    width: 24px;
    background-position: -254px -1px;
}

.juxing {
    height: 24px;
    width: 24px;
    background-position: -278px -1px;
}

.piping {
    height: 24px;
    width: 24px;
    background-position: -302px -1px;
}

.Verticaldouble {
    height: 24px;
    width: 24px;
    background-position: -326px -1px;
}

.tuoyuan {
    height: 24px;
    width: 24px;
    background-position: -350px -1px;
}

.text {
    height: 24px;
    width: 24px;
    background-position: -374px -1px;
}

.yuanjiajuxing {
    height: 24px;
    width: 24px;
    background-position: -399px -1px;
}

.Warninglamp {
    height: 24px;
    width: 24px;
    background-position: -422px -1px;
}

.Voltage {
    height: 24px;
    width: 24px;
    background-position: -446px -1px;
}

.straightline {
    height: 24px;
    width: 24px;
    background-position: -470px -1px;
}

.SolenoidValve {
    height: 24px;
    width: 24px;
    background-position: -494px -1px;
}

.qiuji {
    height: 24px;
    width: 24px;
    background-position: -518px -1px;
}

.tance {
    height: 24px;
    width: 24px;
    background-position: -542px -1px;
}

.tag {
    height: 24px;
    width: 24px;
    background-position: -566px -1px;
}

.switch {
    height: 24px;
    width: 24px;
    background-position: -590px -1px;
}

.button {
    height: 24px;
    width: 24px;
    background-position: -614px -1px;
}

.Broadcast {
    height: 24px;
    width: 24px;
    background-position: -638px -1px;
}

.Blowerfan {
    height: 24px;
    width: 24px;
    background-position: -662px -1px;
}

.activePower {
    height: 24px;
    width: 24px;
    background-position: -686px -1px;
}

.curve {
    height: 24px;
    width: 24px;
    background-position: -710px -1px;
}

.controlPanel {
    height: 24px;
    width: 24px;
    background-position: -734px -1px;
}

.AirHeating {
    height: 24px;
    width: 24px;
    background-position: -758px -1px;
}

.AirFiltration {
    height: 24px;
    width: 24px;
    background-position: -782px -1px;
}

.AirCooler {
    height: 24px;
    width: 24px;
    background-position: -806px -1px;
}

.beng {
    height: 24px;
    width: 24px;
    background-position: -830px -1px;
}

.ArrowUp {
    height: 24px;
    width: 24px;
    background-position: -854px -1px;
}

.Arrowright {
    height: 24px;
    width: 24px;
    background-position: -878px -1px;
}

.duobianxing {
    height: 24px;
    width: 24px;
    background-position: -902px -1px;
}

.highqiuji {
    height: 24px;
    width: 24px;
    background-position: -926px -1px;
}

.ElectricTwo-wayValve {
    height: 24px;
    width: 24px;
    background-position: -950px -1px;
}

.ElectricityConsumption {
    height: 24px;
    width: 24px;
    background-position: -974px -1px;
}

.frequency {
    height: 24px;
    width: 24px;
    background-position: -998px -1px;
}

.Gas {
    height: 24px;
    width: 24px;
    background-position: -1022px -1px;
}

.FluorescentLamp {
    height: 24px;
    width: 24px;
    background-position: -1046px -1px;
}

.electric {
    height: 24px;
    width: 24px;
    background-position: -1070px -1px;
}

.Exhaustfan {
    height: 24px;
    width: 24px;
    background-position: -1094px -1px;
}

.down {
    height: 24px;
    width: 24px;
    background-position: -1118px -1px;
}

.ElectricButterflyValves {
    height: 24px;
    width: 24px;
    background-position: -1142px -1px;
}

.Humidifier {
    height: 24px;
    width: 24px;
    background-position: -1166px -1px;
}

.humidity {
    height: 24px;
    width: 32px;
    background-position: -1190px -1px;
}

.pressure {
    height: 24px;
    width: 32px;
    background-position: -1222px -1px;
}

.differentialPressure {
    height: 24px;
    width: 32px;
    background-position: -1254px -1px;
}

.level {
    height: 24px;
    width: 32px;
    background-position: -1286px -1px;
}

.temperature {
    height: 24px;
    width: 32px;
    background-position: -1318px -1px;
}

.MetalHalide {
    height: 24px;
    width: 32px;
    background-position: -1350px -1px;
}

@media screen and (max-width:768px) {
    .bayax-head-bar {
        display: block;
    }
    .bayax-layout-leftone {
        display: none;
    }
}


/* 头部 end */


/* body   -begin*/

.bayax-body {
    position: absolute;
    padding-top: 15px;
    padding-right: 15px;
    left: 15px;
    right: 0;
    top: 150px;
    bottom: 0;
    z-index: 998;
    width: auto;
    /* box-sizing: border-box; */
    /* background: gray; */
    overflow: auto;
}

.attribute-div {
    float: right;
    width: 300px;
    background: blue;
    height: 900px;
}

.draw2d-body {
    position: absolute;
    left: 15px;
    right: 330px;
    top: 15px;
    bottom: 0;
    z-index: 998;
    width: auto;
    background: #1B1F3D;
    box-sizing: border-box;
}

.canvas-div {
    position: absolute;
    left: 0;
    right: 220px;
    top: 20px;
    bottom: 0;
    width: auto;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    background: #1B1F3D;
}

.canvas {
    background-color: #2B2F4C;
    border: 1px solid #DDDDDD;
}


/* 属性 */

.global-btn-div {
    float: right;
    width: 220px;
    background: blue;
    /* height: 400px; */
}

.attr-head {
    height: 44px;
    text-align: center;
    line-height: 44px;
    background: #2A3147;
}


/* body   -end */