/*按钮*/
.button-normal,
.button-cancle,
.button-other {
  width: 112px;
  height: 44px;
  padding: 0;
  background: #35C99D;
  border: none;
  outline: none;
  margin-right: 30px;
}

.button-normal:hover {
  background: #2AB38B;
}

.button-normal:active,
.button-normal:active:focus,
.button-normal:focus {
  background: #2AB38B;
  border: none;
  outline: none;
}

.button-cancle {
  background-color: #ff5555;
  color: #ffffff;
}

.button-cancle:hover {
  background: #EA4646
}

.button-cancle:active,
.button-cancle:active:focus,
.button-cancle:focus {
  background: #EA4646;
  border: none;
  outline: none;
}

.button-other {
  background-color: #FFFFFF;
  border: 1px solid #35c99d;
  color: #35C99D;
}

.button-other:hover {
  border: 1px solid #2AB38B;
  background-color: #FFFFFF;
  color: #35C99D;
}

.button-other:active,
.button-other:active:focus,
.button-other:focus {
  border: 1px solid #2AB38B;
  background-color: #FFFFFF;
  color: #35C99D;
  outline: none;
}
/*表格*/
.table-primary  thead th {
  height: 54px !important;
  padding-top: 20px !important;
  padding-bottom: 20px;
  font-size: 16px;
  color: #666666;
}

.table-primary  tbody td {
  border-top: none !important;
  height: 48px !important;
  line-height: 30px !important;
}

.table-primary  tbody > tr:nth-of-type(even) {
  background-color: #f8fbfa;
}

.table-primary  tbody > tr:nth-of-type(odd) {
  background-color: #FFFFFF;
}

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

@media (min-width:768px) {
  #main {
    padding-right: 50px;
    padding-left: 20px;
  }

}

@media screen and (max-width:768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .form-horizontal .control-label {
    text-align: right;
    padding-top: 7px;
  }

  #main {
    margin-left: 160px;
  }

  @media screen and (max-width:768px) {
    .subsystem-head {
      margin-left: 150px;
    }

  }

}

/* 加载动画开始 */
.loading {
  width: 150px;
  height: 15px;
  margin: 0 auto;
  margin-top: 100px;
  position: absolute;
  top: 40%;
  left: 45%;
  display: none;
}

.loading span {
  display: inline-block;
  width: 15px;
  height: 100%;
  margin-right: 5px;
  border-radius: 50%;
  background: #35C99D;
  -webkit-animation: load 1.04s ease infinite;
}

.loading span:last-child {
  margin-right: 0px;
}

@-webkit-keyframes load {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.3);
  }

  100% {
    opacity: 0.2;
    -webkit-transform: scale(.3);
  }

}

.loading span:nth-child(1) {
  -webkit-animation-delay: 0.13s;
}

.loading span:nth-child(2) {
  -webkit-animation-delay: 0.26s;
}

.loading span:nth-child(3) {
  -webkit-animation-delay: 0.39s;
}

.loading span:nth-child(4) {
  -webkit-animation-delay: 0.52s;
}

.loading span:nth-child(5) {
  -webkit-animation-delay: 0.65s;
}

/* 加载动画结束 */


/*提示*/
span.warn-span{
  color: red;
}
.instructions span{
  color: red;
}


/*修改密码-开始*/
#changePassword-layer .form-horizontal{
  padding: 30px 50px;
  padding-left: 100px;
  padding-bottom: 0;
  text-align: center;
}
#changePassword-layer .form-horizontal label{
  width: 100px;
  padding-right: 0;
  text-align: left;
  padding-left: 0;
}
#changePassword-layer input{
  width: 60%;
}
#changePassword-layer form > div label:nth-child(1){
  font-weight: normal;
}
/*修改密码-结束*/
/*退出登录*/
#logout {
  padding-top:30px;
  padding-left: 30px; 
  font-size: 14px;
}
/*退出登录*/

/*下拉按钮*/
.selecttypes{
  float: left;
}
.selecttypes button{
    width: 140px;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 44px;
}
.selecttypes button span.txt{
    display: inline-block;
    width: 100px;
}
.selecttypes ul{
    min-width: 140px;
    margin-top: 8px;
}
.selecttypes ul::after {
    top: -6px;
    left: 116px;
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-top: 0;
    position: absolute;
}
.selecttypes ul::before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-top: 0;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 116px;
}
.selecttypes ul a{
    color: #c6c6c6;
}
.selectTime{
    float: left; 
    margin-left: 20px; 
}
.selectTime input{
  width: 140px;
  height: 44px;

}
