body
{
	/*background-color: #24D9A4 ;*/
	padding: 0;
	margin:0;
	font-family: "微软雅黑";
}

.logo
{
	padding-left:120px;
	padding-top:120px;
}

.login_box
{
	position:absolute;  
    top:40%;            
    left:60%; 
    margin:-100px 0 0 -150px;     
    z-index:99; 
    text-align: center;
    padding-top:50px;
}

.login_box>p
{
	/*margin: 8px 3px;*/
}
.login_box p.img{
		
}


.login_box .username,
.login_box .pwd
{
	width: 351px;
	height: 55px;
	background-repeat: no-repeat;
	background-size: 15px;
	background-position-y: 20px;
	background-position-x: 10px;
	border: 1px solid #ccc;
	text-indent: 25px;
	padding-left:15px; 
	border-radius: 2px;

}
.login_box .username{
	/*margin-bottom: 8px;*/
}
.login_box .username:focus,
.login_box .pwd:focus{
	outline:none; ;
	border:1px solid #35C99D;
}
.login_box .username:focus{
	background-image:url(../images/login/user.png);
}

.login_box .username
{
	
	background-image:url(../images/login/user0.png);
}
.login_box .pwd:focus{
	background-image:url(../images/login/Shape.png);
}
.login_box .pwd
{
	background-image:url(../images/login/Shape0.png);
}

.login_box .img 
{
	margin-bottom: 10px;
}

#login
{
	margin-top: 20px;
	border:0;
	background: #35C99D;
	/*background-color: #24D9A4;*/
	color:white;
	font-size: 18px;
	width: 370px;
	height: 55px;
}
#login:hover{
	background: #2AB38B;
}
.paswrong{
	text-align: left;
	width: 200px;
	position: relative;
	left:5px;
	top: -5px;
	font-size: 12px;
	color: #F57373;
	display: none;
}
.forgetpas{
	margin-top: 10px;
	font-size: 12px;
	color: #999999;
	display: inline-block;
	margin-left: 310px;
	text-decoration: none;
}
.forgetpas:hover{
	color: #35C99D;
}

#forget-pas{
	text-align: center;
	line-height: 130px;
	font-size: 24px;
	color: #999999;
}