body {
	margin: 0 auto;
	padding: 0;
	font-family: "微软雅黑";
	background-color: #FFFFFF;
}

/*系统设置-侧边栏-开始*/
#sidebar {
	padding: 0;
	border-right: 1px solid #E2E2E2;	/*max-width: 286px;*/
	min-width: 150px;
}

#treeview {
	padding: 0;
}

#treeview ul {
	padding: 0;
	margin: 0;
}

#treeview ul li {
	padding: 0;
	margin: 0;
	list-style: none;
}

#treeview ul li a {
	display: inline-block;
	padding: 0;
	height: 66px;
	font-size: 16px;
	width: 100%;
	text-align: center;
	line-height: 60px;
	color: #9CA5A9;
	margin-bottom: 1px;
}

#treeview ul li a:hover {
	/*color: #35c99d;*/
	background-color: #EEEEEE;
	text-decoration: none;
}
#treeview ul li:first-child a:hover{
	background-color: #35c99d;
}
.treeview ul li a img {
	display: inline-block;
	margin-top: -4px;
	margin-right: 5px;
}

#treeview .title_foursize {
	padding-right: 30px;
}

#logo-a {
	background-color: #35c99d;
	text-align: center;
	line-height: 60px;
}

#logo-a img {
	width: 135px;
	height: 33px;
	display: inline-block;
	position: relative;
}

#treeview .active a {
	background-color: #EEEEEE;
	color: #35C99D;
}

/*系统设置-侧边栏-结束*/

/*工程管理-开始*/
#main {
	padding-left: 50px;
	padding-right: 40px;
}

.content_head {
	margin-top: 90px;
	padding-right: 20px;
	text-align: left;
	min-width: 900px;
}

.div-content {
	box-shadow: -5px 0 10px #E6E6E6, 5px 5px 10px #E6E6E6, 0 0 0 #FFFFFF, 5px 5px 25px #E6E6E6;
	-webkit-box-shadow: -5px 0 10px #E6E6E6, 5px 5px 10px #E6E6E6, 0 0 0 #FFFFFF, 5px 5px 25px #E6E6E6;
	border-top: 2px solid #35C99D;
	padding-left: 20px;
	padding-right: 20px;
	height: 750px;	/*background-color: red;*/
}

.div-display {
	padding-left: 20px;
	padding-right: 20px;
}

.div-display-pro {
	margin-top: 30px;
}

.div-display-pro div label:first-child {
	/*color: #c9c9c9;*/
	color: #999;
	font-weight: normal;
	min-width: 70px;
	width: 80px;
	text-align: left;
	padding-right: 0;
}

.div-display-pro div label:last-child {
	color: #6a6a6a;
	text-align: left;
	font-weight: normal;
}

.div-display-pro div img.project-logo-img {
	width: 400px;
	height: 90px;
	border: 1px solid #dedede;
	background: #999999;
}


.div-pro-name,
.div-pro-img {
	width: 400px;
}

.div-display-pro input {
	height: 44px;
	width: 400px;
	min-width: 400px;
}

.div-display-pro div label.label-prompt {
	width: 300px;
	margin-left: 30px;
	color: #c9c9c9;
	padding-top: 12px;
}
span.warn_span{
	color: red;
}
.label-prompt span.instructions span {
	color: red;
}
.div-upimage{
	margin-left: 30px;
}

#obj-btn-upLogo{
	width: 114px;
}

select.select-language {
	width: 400px;
	height: 44px
}

#project-edit-management{
	display: none;
}
/*工程管理-结束*/

/*节点管理-开始*/
.div-node-btn {
	width: 400px;
	padding-left: 0;
}

/*搜索框-*/
.div-content-search {
	float: right;
	padding-right: 0;
}

.content-search {
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	padding-left: 10px;
	background: #FFFFFF;
	float: right;
	width: 265px;
}

.content-search label:first-child {
	padding: 0px;
	width: 20px;
}

.content-search label:last-child {
	width: 20px;
	top: 10px;
	left: 10px;
	display: none;
}

.content-search span {
	top: 15px;
	left: 5px;
}

.content-search input {
	height: 44px;
	border: none;
}

.content-search input:focus {
	outline: none;
}

.content-search img {
	cursor: pointer;
}

/*有输入 删除  显示  无输入隐藏*/
#content-search-input::-ms-clear {
	display: none;
}

#content-search-input:valid +.label_img {
	display: inline;
}

/*搜索框-*/

#node-tab {
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 10px;
}

#node-tab thead th {
	height: 54px !important;
	padding-top: 20px !important;
	padding-bottom: 20px;
	font-size: 16px;
	color: #666666;
}

#node-tabody tr td:nth-child(1) {
	width: 100px;
}

#node-tabody tr td:nth-child(2) {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 250px;
}

#node-tabody tr td:nth-child(5) {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 250px;
}
#node-tabody tr td:last-child a:last-child{
	margin-left: 10px;
}

.node-form-edit{
	display: none;
}
#layer-delete-node p{
	margin-left: 30px;
	margin-top: 20px;
	color: #666666;
	font-size: 16px;
}

.div-creat-node{
	padding-top: 30px;
}
.div-creat-node > div label{
	font-weight: normal;
	color: #999;

}
.div-creat-node > div label:first-child{
	width: 120px;
	text-align: left;
	padding-left: 20px;
	padding-top: 12px;
}
.div-creat-node > div label:last-child{
	width: 300px;
	text-align: left;
	padding-top: 15px;
}
.div-creat-node input,
.div-creat-node select{
	height: 44px;
}

/*节点管理-结束*/

/*数据标签管理-开始*/
.div-datalabel-btn {
	width: 400px;
	padding-left: 0;
}

#datalabel_tab {
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 10px;
}

#datalabel_tab thead th {
	height: 54px !important;
	padding-top: 20px !important;
	padding-bottom: 20px;
	font-size: 16px;
	color: #666666;
}

#datalabel_tab tr td:nth-child(1) {
	width: 100px;
}

#datalabel_tab tr td:nth-child(2),
#datalabel_tab tr td:nth-child(3) {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 250px;
}

#datalabel_tab tr td:nth-child(5) {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 250px;
}
#datalabel_tab tr td:nth-child(7) a:nth-child(2){
	margin-left: 5px;
}

.datalabel-edit .div-display label{
	padding-left: 0;
	padding-right: 0;
	font-weight: normal;
	color: #999;

}
.datalabel-edit .div-display label.label-title{
	width: 100px;
	text-align: left;

}
.datalabel-edit .div-display label.label-mustfill{
	width: 20px;
	color:red;
	padding-top: 10px;
	padding-left: 10px;
}
.datalabel-edit .content > div{
	margin-right:0px;
	padding: 0;
	padding-left: 20px;
}
.datalabel-edit .content > div:nth-child(1){

	padding-left: 10px;
}
.datalabel-edit .content .detailed-content{
	border: 1px solid #eee;
	padding-top: 20px;
	padding-left: 20px;
}

.datalabel-edit .content  label.label-content{
	width: 90px;
	padding-left: 0;
	padding-right: 0;
	text-align: left;
}
.datalabel-edit .content > div p{
	text-align: center;
	background-color: #eee;
	height: 44px;
	line-height: 44px;
	margin-bottom: 0;
}
#chengyi{
	font-size:12px; 
	font-weight: normal;
	display: inline-block;
	position: relative;
	-webkit-transform: scale(0.7857142857142857); 
}
.div-table-warn{
	padding-right: 20px;
	padding-bottom: 0;

}
.div-table-warn label{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	height: 240px;
	overflow: auto;
}
#datalab-addlimit{
	cursor: pointer;
	color: #666;
}
#table-warn thead tr th{
	font-weight: normal;
}
#table-warn tbody tr td:last-child{
	width:50px;
	color:#428bca;
	cursor: pointer;
	padding-top: 15px;
}

/*整理样式*/
.datalabel-edit > div:nth-child(1){
	padding-left: 0;
}
.datalabel-edit .div-display{
	padding-top: 20px;
	padding-left: 30px;
}

.datalabel-edit .div-display >div:nth-child(2) label:nth-child(3){
	padding-left: 10px;
}
.datalabel-edit .content > div:nth-child(1) .detailed-content{
	padding-bottom: 27px;
}
/*整理样式*/





/*数据标签管理-结束*/

/*能耗统计设定-开始*/
.col-sm-my-9 {
	width: 72%;
	float: left;
	min-width: 400px;
}
@media screen and (max-width:1606px) {
	.col-sm-my-9 {
		width: 71%;
	}

}
@media screen and (max-width:1506px) {
	.col-sm-my-9 {
		width: 70%;
	}

}
@media screen and (max-width:1461px) {
	.col-sm-my-9 {
		width: 69%;
	}

}
@media screen and (max-width:1419px) {
	.col-sm-my-9 {
		width: 67%;
	}

}

@media screen and (max-width:1342px) {
	.col-sm-my-9 {
		width: 65%;
	}

}

@media screen and (max-width:1242px) {
	.col-sm-my-9 {
		width: 63%;
	}

}

div.div-display.row {
	padding-left: 0;
	padding-right: 0
}

.div-content-statistical {
	padding-left: 15px;	/*padding-right: 15px;*/
	height: 750px;
	/*background-color: gray;*/
}

.statistical-left {
	box-shadow: -5px 0 10px #E6E6E6, 5px 5px 10px #E6E6E6, 0 0 0 #FFFFFF, 5px 5px 25px #E6E6E6;
	-webkit-box-shadow: -5px 0 10px #E6E6E6, 5px 5px 10px #E6E6E6, 0 0 0 #FFFFFF, 5px 5px 25px #E6E6E6;
	min-width: 300px;
	margin-right: 30px;
	border-top: 2px solid #35c99d;

}
.statistical-left > p {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #dedede;
}
.statistical-left > p span{
	font-size: 16px;
	font-weight: 600;
}
.statistical-left > p a{
	float: right;
	cursor: pointer;
}
.left-div{
	height: 685px;
}
.left-div-head{
	cursor: pointer;
}
.left-div-head span {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 250px;
	display: inline-block;
	margin-left: 5px;
}

.left-div [data-toggle="collapse"] i {
  	width: 0;
	height:0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #9A9A9A;
	position: relative;
	top: 8px;
}

.left-div [data-toggle="collapse"].collapsed i{
    position: relative;
	display: inline-block;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #D8D8D8;
	top: -5px;

}

.left-div [data-toggle="collapse"].collapsed span{
	margin-left: 1px;
}
.collapse-left-div{
	max-height: 620px;
	overflow: hidden;
}
.collapse-left-div  .mCustomScrollBox .mCSB_container {
	margin-right: 0px;

}

.collapse-left-div .mCSB_scrollTools {
	margin-right: 20px;
	width: 10px;
	margin: 0;
	position: absolute;
}

.collapse-left-div  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: #DDDDDD;
	width: 5px;
}

.collapse-left-div .mCustomScrollBox .mCSB_draggerContainer .mCSB_draggerRail {
	background: #FFFFFF;
}
.collapse-left ul{
	padding: 0;
	margin: 0;
	margin-right: 5px;
}
.collapse-left ul li{
	list-style: none;
	height: 45px;
	line-height: 45px;
	cursor: pointer;

	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	max-width: 400px;
	padding-left: 10px;
}

.collapse-left ul li.active{
	border-left: 4px solid #35c99d;
	padding-left: 7px;
}

.collapse-left ul li:hover{
	border-left: 4px solid #35c99d;
	padding-left: 7px;
}
.collapse-left li:nth-of-type(even) {
	background-color: #FFFFFF;
}

.collapse-left li:nth-of-type(odd) {
	background-color: #f8fbfa;
}


.statistical-right{
	box-shadow: -5px 0 10px #E6E6E6, 5px 5px 10px #E6E6E6, 0 0 0 #FFFFFF, 5px 5px 25px #E6E6E6;
	-webkit-box-shadow: -5px 0 10px #E6E6E6, 5px 5px 10px #E6E6E6, 0 0 0 #FFFFFF, 5px 5px 25px #E6E6E6;
	padding-left: 20px;
	padding-right: 20px;
}
p.right-head-p{
	margin-top: 40px;
	padding-left: 10px;
	border-left: 3px solid #35c99d;
}

.div-have-tables{
	max-height: 680px;
	overflow: hidden;
}
.div-have-tables  .mCustomScrollBox .mCSB_container {
	margin-right: 0px;
}

.div-have-tables .mCSB_scrollTools {
	margin-right: 20px;
	width: 10px;
	margin: 0;
}

.div-have-tables  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: #DDDDDD;
	width: 5px;
}

.div-have-tables .mCustomScrollBox .mCSB_draggerContainer .mCSB_draggerRail {
	background: #FFFFFF;
	margin-left: 7px;
}
.tabels tbody tr td {
	border-top: none !important;
	height: 47px !important;
	line-height: 30px;
}

.tabels thead tr th {	
	height: 48px;
	font-size: 16px;
	color: #666666;
	background-color: #F9F9F9;
	border-bottom: none !important;
}

.tabels tbody tr:nth-of-type(even) {
	background-color: #F9F9F9;
}

.tabels tbody tr:nth-of-type(odd) {
	background-color: #FFFFFF;
}
/*编辑*/
.collapse-left-edit ul li > div label{
	padding-left: 0;
	padding-right: 0;
	font-weight: normal;
}
.collapse-left-edit ul li  div label a:last-child{
	margin-left: 10px;
}
.collapse-left-edit ul li  div:first-child label:first-child{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.collapse-left-edit ul li  div:first-child label:last-child{
	text-align: right;
	display: none;
}
.collapse-left-edit ul li:hover  div:first-child label:last-child{
	display: block;
}
#add_group_li:hover{
	border: none;
	padding-left: 10px;
}
.collapse-left-edit ul li  div:last-child label:last-child{
	text-align: right;
}
/*添加*/
#add_group_li div label{
	display: block;
}


.right-head-btn{
	margin-top: 20px;
}
/*.right-head-btn button:last-child{
	margin-left: 30px;
}*/
.div-have-tables-edit{
	height: 634px;
}
.div-have-tables-edit table{
	margin-top: 0;
	margin-bottom: 0;
}

.hide-tag-span{
	display: inline-block;
	margin-left: 10px;
}
/*弹窗*/
#search-datalabel{
	padding-left: 30px;
	padding-right: 30px;
}
#search-datalabel .content-search{
	float: left;
	margin-top: 20px;
}

#search-datalabel form{
	border: 1px solid #dedede;
	width: 600px;
	
	padding-left: 30px;
	padding-right: 30px;


}
.search_no_datalabel{
	margin-top: 30%;
	margin-left: 47%;
	font-size: 18px;
}
#search-datalabel form:last-child{
	width: 400px;
	margin-left: 15px;
}

.search-datalabel-left,
.search-datalabel-right{
	height: 380px;
	overflow: auto;
}
.search-datalabel-right  .mCustomScrollBox .mCSB_container,
.search-datalabel-left  .mCustomScrollBox .mCSB_container {
	margin-right: 0px;
}
.search-datalabel-right .mCSB_scrollTools,
.search-datalabel-left .mCSB_scrollTools {
	margin-right: 20px;
	width: 10px;
	margin: 0;
}
.search-datalabel-right  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.search-datalabel-left  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: #DDDDDD;
	width: 5px;
}
.search-datalabel-right .mCustomScrollBox .mCSB_draggerContainer .mCSB_draggerRail,
.search-datalabel-left .mCustomScrollBox .mCSB_draggerContainer .mCSB_draggerRail {
	background: #ffffff;
	margin-left: 7px;
}
#edit_delete_tree_li p {
	padding-left: 30px;
	margin-top: 20px;
	font-size: 16px;
}
/*能耗统计设定-结束*/

/*图形画面管理-开始*/
#creatsys-btn{
	background-color: #35c99d;
	color: #ffffff;
}
#creatsys-btn:hover{
	background: #2AB38B;
}
.div-graphicImages-tab,
.div-sub-graphicImages{
	 height: 700px;
	overflow: auto;
	border-bottom: 1px solid #dedede;	
}
.div-sub-graphicImages{
	/*border: */
}
.div-graphicImages-tab  .mCustomScrollBox .mCSB_container,
.div-sub-graphicImages .mCustomScrollBox .mCSB_container {
	margin-right: 0px;
}
.div-graphicImages-tab .mCSB_scrollTools,
.div-sub-graphicImages .mCSB_scrollTools {
	margin-right: 20px;
	width: 10px;
	margin: 0;
}
.div-graphicImages-tab .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.div-sub-graphicImages .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: #DDDDDD;
	width: 5px;
}
.div-graphicImages-tab .mCustomScrollBox .mCSB_draggerContainer .mCSB_draggerRail,
.div-sub-graphicImages .mCustomScrollBox .mCSB_draggerContainer .mCSB_draggerRail {
	background: #ffffff;
	margin-left: 7px;
}


#graphicImages-tab thead th {
	height: 54px !important;
	padding-top: 20px !important;
	padding-bottom: 20px;
	font-size: 16px;
	color: #666666;
}
#graphicImages-tab tbody tr{
	cursor: pointer;
}
#graphicImages-tab tbody tr td:nth-child(3) a:last-child{
	margin-left: 10px;
}

#graphicImages-tab{	
	margin-bottom: 10px;
	
}
#change-subsys-name{
	padding-left: 30px;
}
#change-subsys-name div{
	margin-top: 30px;
}
#change-subsys-name div label{
	padding-top: 10px;
	width: 100px;
	padding-left: 0;
	padding-right: 0;
	font-weight: normal;
}
#change-subsys-name div label:last-child{
	color: red;
	padding-left: 20px;
	width: 200px;
}

#delete-subsys {
	padding-right:50px;
	padding-left: 35px;
	padding-top: 30px;
	font-size: 16px;
}

/*图形画面管理-结束*/
/*新建子系统-开始*/
.graphic-main{
	display: none;
}
@media screen and (max-width:768px) {
	.subsystem-head{
		margin-left: 150px;
	}
}
.subsystem-head{
	min-width: 1000px;
	height: 66px;
	background-color: #6C6C6C;
	line-height: 66px;
	padding-left: 35px;	
	display: none;
}
.subsystem-head  label{
	font-weight: normal;
}
.subsystem-head > label span i{
	display: inline-block;
	width: 9px;
	height: 9px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	margin-right: 7px;
}
.subsystem-head > label > span {
	display: inline-block;
	margin-right: 30px;
	color: #FFFFFF;
	cursor: pointer;
}

.subsystem-head > label label{
	color: #35C99D;
}

#sub-graphicImages-tab thead th {
	height: 54px !important;
	padding-top: 20px !important;
	padding-bottom: 20px;
	font-size: 16px;
	color: #666666;
}
#sub-graphicImages-tab tbody tr td a{
	margin-right: 10px;
	cursor: pointer;
}
#sub-graphicImages-tab tbody tr td:first-child{
	width: 70%;
}

.content_head-subsystem {
	padding-right: 20px;
	text-align: left;
	min-width: 900px;
}
#creat-subsystem-image form{
	/*background-color: red;*/
	padding-right:50px;
	padding-left: 50px;
	padding-top: 30px;
}
#creat-subsystem-image form div input.ckss{
	margin-right: 10px;
}
#creat-subsystem-image form div label{
	text-align: left;
	padding-left: 0;
	padding-right: 0;
	width: 120px;
	font-weight: normal;
}

.image-warn{
	color: red;
	margin-left: 20px;
}
/*#delete-system {
	padding-right:50px;
	padding-left: 35px;
	padding-top: 30px;
	font-size: 16px;
}
#change-system-name{
	padding-left: 30px;
}
#change-system-name div{
	margin-top: 30px;
}
#change-system-name div label{
	padding-top: 10px;
	width: 100px;
	padding-left: 0;
	padding-right: 0;
	font-weight: normal;
}*/

/*新建子系统-结束*/


/*能耗统计分级-开始*/
#classification-edit-form {
	display: none;
}

#classification-edit-form > div:nth-child(1){
	margin-left:0;
}

#classification_edit .par_node_tab,
#classification_display .par_node_tab{
	margin-top: 3px;
}

#classification_display,
#classification_edit {
	/*min-width: 1100px;*/
}

#classification_display .par_node_tab div.form-group:first-child,
#classification_edit .par_node_tab div.form-group:first-child {
	margin-top: 30px;
}



.classification .panel-body {
    overflow: hidden;
}

.classification .panel-default>.panel-heading {
    color: #969696;
}

.classification .panel-heading [data-toggle="collapse"]:after {
    font-family: 'fontAwesome';
    content: "\f068";
    float: right;
    font-size: 14px;
    line-height: 23px;
    margin-right: 2%;
}

.classification .panel-heading [data-toggle="collapse"].collapsed:after {
    color: #969696;
    font-family: 'fontAwesome';
    content: "\f067";
}

.classification .panel-heading.fang [data-toggle="collapse"].add:after {
    font-family: 'fontAwesome';
    content: "\f107";
    float: right;
    font-size: 20px;
    line-height: 23px;
    margin-right: 2%;
}

.classification .panel-heading.fang [data-toggle="collapse"]:after {
    font-family: 'fontAwesome';
    content: "\f";
    float: right;
    font-size: 20px;
    line-height: 23px;
    margin-right: 2%;   
    margin-top: -3px;
}

.classification .panel-heading.fang [data-toggle="collapse"].collapsed:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #969696;
}

.classification .panel-default {
    border-color: #fff;
}

.classification .panel-default>.panel-heading.fang {
    background: #fff;
    border-color: #fff;
}

.classification .panel {
    border-top: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 8px;
    margin-bottom: 5px;
}

.classification .panel a {
    text-decoration: none;
}

.panel .panel-heading {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.panel .panel-heading.fang {
    -webkit-box-shadow: none;
    box-shadow: none;
}
#trees-parent{
	margin-top: 30px;
	width: 500px;
	max-height: 700px;
	overflow-y: hidden;
	text-align: center;
	border: 1px solid #DEDEDE;
}
#tree {
	width: 500px;
	max-height: 650px;
	overflow: hidden;
	text-align: center;
	border: 1px solid #DEDEDE;
}


.tree label {
    margin-left: 5px;
    font-weight: 500;
}

.tree-msg {
    margin-left: 25px;
}

.panel-heading {
    height: 48px;
    padding: 15px;
}
#trees span.classification-delete{
	display: none;
}
#tree span.classification-delete{
	color: red;
	display: inline-block;
	margin-right: 30px;
	margin-top: 2px;
	display: none;
	font-size: 16px;
	cursor: pointer;
}
#trees label,
#tree label{
	padding-left: 5px;
	width:87%; 
	color: #969696;
	text-align: left;
}
#tree label:hover span.classification-delete{
	display: block;
}
#trees .icheckbox_square-green{
	margin-top: -4px;
}
#tree .icheckbox_square-green{
	margin-top: -4px;
}

#classification-groups-form .mCustomScrollBox .mCSB_container,
#trees-parent  .mCustomScrollBox .mCSB_container,
#tree  .mCustomScrollBox .mCSB_container {
	margin-right: 0px;
}
#classification-groups-form .mCSB_scrollTools,
#trees-parent   .mCSB_scrollTools,
#tree   .mCSB_scrollTools {
	width: 10px;
	/*margin-right:-10px;*/
}
#classification-groups-form .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#trees-parent  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#tree  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: #DDDDDD;
	width: 5px;
}
#classification-groups-form  .mCustomScrollBox .mCSB_draggerContainer .mCSB_draggerRail,
#trees-parent .mCustomScrollBox .mCSB_draggerContainer .mCSB_draggerRail,
#tree  .mCustomScrollBox .mCSB_draggerContainer .mCSB_draggerRail {
	background: #FFFFFF;
}


#classification-delete-group p {
	padding-left: 30px;
	margin-top: 20px;
	font-size: 16px;
}
/*能耗统计分级-结束*/