<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>数据标签管理</title>
    <link rel="stylesheet" href="plugin/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="plugin/jQuery/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="css/sysManagement.css">
</head>

<body class="layui-layout-body">
    <div id="app" class="layui-layout ">
        <div class="layui-side bayax-bg-black">
            <div class="layui-side-scroll">

                <ul class="layui-nav layui-nav-tree" lay-filter="test">

                    <li class="layui-nav-item bayax-li-item-img">
                        <a href="deviceControlCanvas.html">
                            <img class="logo" v-bind:src="proLogo"></a>
                    </li>

                    <li class="layui-nav-item">
                        <a class="" href="engineeringManagement.html"> <i class="gcgl"></i> 工程管理
                        </a>
                    </li>
                    <li class="layui-nav-item ">
                        <a href="nodeManagement.html"> <i class="jdgl"></i> 节点管理
                        </a>
                    </li>
                    <li class="layui-nav-item active">
                        <a href="datalabelManagement.html">
                            <i class="sjbqgl"></i> 数据标签管理
                        </a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="nhtjsd"></i> 能耗统计设定
                        </a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="txhmgl"></i> 图形画面管理
                        </a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="energyconsumptionStatisticClassification.html">
                            <i class="nhtjfj"></i> 能耗统计分级
                        </a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="userManagement.html">
                            <i class="yhqxgl"></i> 用户权限管理
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div class="bayax-content">
                <div class="content-head">
                    <button @click="creatEditLabel" class="layui-btn bayax-btn">新建标签</button>
                    <button @click="batchDelete" class="layui-btn bayax-btn-cancel">批量删除</button>
                    <div class="layui-input-inline content-search">
                        <span class="search-span icon-search"></span>
                        <input v-model="searchText" v-on:input="searchlabels" type="text" placeholder="请输入节点名称" required>
                        <span @click="clearSearch" class="span-del icon-highlight_off"></span>
                    </div>

                </div>
                <div class="content-body">
                    <div class="content-body-border-top"></div>
                    <div class="content-main node-content-main">
                        <table class="bayax-table">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="layui-form">
                                            <input id="ttx" lay-filter="allcheck" type="checkbox" lay-skin="primary" name='labelcheckall' title="选择"></div>
                                    </th>
                                    <th>数据标签</th>
                                    <th>描述</th>
                                    <th>类型</th>
                                    <th>节点</th>
                                    <th>寄存器</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in labels">
                                    <td class="td-check">
                                        <div v-bind:class="{ tdshow:  item.ishide }" class="layui-form">
                                            <input :id="item.id" :value="item.id" lay-filter="labelcheck" type="checkbox" lay-skin="primary" name='labelchecks'></div>
                                    </td>
                                    <td v-text="item.name"></td>
                                    <td v-text="item.description"></td>
                                    <td v-text="item.tag_type"></td>
                                    <td v-text="item.node_name"></td>
                                    <td v-text="item.point_id"></td>
                                    <td>
                                        <a v-bind:class="{ tdshow: item.ishide }" @click="labelEdit(item.id)" href="javascript:;">编辑</a>
                                        <a v-bind:class="{ tdshow:  item.ishide }" @click="labelDel(item.id)" href="javascript:;">删除</a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                        <div class="relode-data tcdPageCode"></div>

                    </div>
                </div>
            </div>

        </div>
        <!-- 新建-编辑数据标签 -->
        <div id="creatEditLabel" class="layer-default mCustomScrollBoxdiv">
            <div class="labels-layer-content bayax-layer-content">
                <form>
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="label-title layui-form-label">数据标签名称</label>
                                <div class="layui-input-inline">
                                    <input v-model="labelName" type="text" autocomplete="off" class="layui-input"></div>
                                <span class="label-warn-span">*</span>
                            </div>
                            <div class="layui-inline">
                                <label class="label-title label-title-right layui-form-label">数据类型</label>
                                <div class="layui-input-inline">
                                    <select class="cla-labelType" lay-filter="filterType">
                                    <option value="1" selected="selected">开关型</option>
                                    <option value="2">整数型</option>
                                    <option value="3">实数型</option>
                                    <option value="4">字符型</option>
                                  </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="label-title  layui-form-label">描述</label>
                                <div class="layui-input-inline">
                                    <input v-model="labelDescription" type="text" autocomplete="off" class="layui-input" maxlength="128"></div>
                            </div>
                            <div :class="{basehide:isBool}" class="layui-inline">
                                <div class="label-check-div">
                                    <input class="cla-energy-check" lay-filter="filterEnergy" type="checkbox" lay-skin="primary" title="能耗数据">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form label-content-base">
                        <div class="base-title">
                            <label>基本</label>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="label-title  layui-form-label">节点</label>
                                <div class="label-node-div label-node-div-sel layui-input-inline">
                                    <select class="cla-nodeid-sel" lay-filter="filterNode">
                                      <option v-for="item in allNode" :value="item.id" v-text="item.name"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="label-title label-title-right-2  layui-form-label">默认值</label>
                                <div class="layui-input-inline">
                                    <div :class="{basehide:basicDefault }">
                                        <input v-model="labelDefaultInt" type="text" autocomplete="off" class="layui-input">
                                    </div>

                                    <div :class="{basehide:!basicDefault}">
                                        <select class="cla-boollabelDefault-sel" lay-filter="filterlabelDefault">
                                          <option value="1">开</option>
                                          <option value="0">关</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="label-title layui-form-label">寄存器</label>
                                <div class="layui-input-inline">
                                    <input v-model="labelRegister" type="text" autocomplete="off" class="layui-input" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="5"></div>
                                <span class="label-warn-span">*</span>
                            </div>
                            <div class="layui-inline">
                                <div class="label-check-div label-check-div-readonly">
                                    <input class="cla-readonly-check" lay-filter="filterReadonly" type="checkbox" lay-skin="primary" title="只读"></div>
                            </div>
                        </div>

                        <div :class="{basehide:isBool}" class="layui-form-item">
                            <div class="layui-inline">
                                <label class="label-title  layui-form-label">最大值</label>
                                <div class="label-node-div layui-input-inline">
                                    <div class="layui-input-inline">
                                        <input v-model="labelMaxValue" type="number" autocomplete="off" class="layui-input"></div>
                                </div>
                            </div>
                            <div :class="{basehide:isBool}" class="layui-inline">
                                <label class="label-title label-title-right-2  layui-form-label">最小值</label>
                                <div class="layui-input-inline">
                                    <input v-model="labelMinValue" type="number" autocomplete="off" class="layui-input"></div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="label-title  layui-form-label">采集方式</label>
                                <div class="label-node-div layui-input-inline">
                                    <select class="cla-acquisition-sel" lay-filter="filterAcquisition">
                                        <option value="1">主动上发</option>
                                        <option value="2">定时采集</option>
                                        <option value="3">主动上发且定时采集</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="label-title layui-form-label">采集频率</label>
                                <div class="layui-input-inline">
                                    <input v-model="labelAcquisitionFrequency" :disabled="disabledAcquisitionFrequency" type="number" autocomplete="off" class="layui-input" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="5"></div>
                                <span class="label-warn-span label-warn-danwei">秒</span>
                            </div>
                            <div :class="{basehide:isBool}" class="layui-inline">
                                <label class="label-title label-title-right-3 layui-form-label">
                                      数据处理
                                      <span class="chenyi">乘以</span>
                                    </label>
                                <div class="layui-input-inline">
                                    <input v-model="labelChengYi" type="number" autocomplete="off" class="layui-input"></div>
                            </div>
                        </div>
                    </div>

                    <div :class="{basehide:isString}" class="label-content-base">
                        <div class="base-title">
                            <label>报警</label>
                        </div>
                        <div :class="{basehide:!isBool}" class="layui-form bool-warn-content" lay-filter="filterBoolContent">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <div class="label-check-div label-check-div-checkwarn">
                                        <input class="cla-enablewarn-check" name="enablewarncheck" lay-filter="filterEnabelWarn" type="checkbox" lay-skin="primary" title="启用报警"></div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="label-title  layui-form-label">报警值</label>
                                    <div class="label-node-div layui-input-inline">
                                        <select disabled="disabled" lay-filter="filterBoolWarnValue" class="cla-boolwarnval-sel cla-Boolwarn-sletc">
                                          <option value="1">true</option>
                                          <option value="0">false</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="label-title label-title-right-2  layui-form-label">描述</label>
                                    <div class="layui-input-inline">
                                        <input v-model='labelBoolWarnDes' :disabled="disabledBoolwarnEnabled" type="text" autocomplete="off" class="layui-input" maxlength="128"></div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="label-title  layui-form-label">级别</label>
                                    <div class="label-node-div layui-input-inline">
                                        <select disabled="disabled" lay-filter="filterBoolWarnLevel" class="cla-boolwarnlevel-sel cla-Boolwarn-sletc">
                                            <option value="3">高</option>
                                            <option value="2" selected="selected">中</option>
                                            <option value="1">低</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div :class="{basehide:isBool}" class="layui-form other-warn-content" lay-filter="filterIntContent">
                            <div class="layui-form-item">
                                <label @click="addlimit" class="label-title layui-form-label add-limit-label">+添加界限值</label>
                            </div>
                            <div class="table-ul-div">
                                <ul class="table-ul-head clearfix">
                                    <li class="li-sort">范围</li>
                                    <li class="li-lenth">界限值</li>
                                    <li class="li-sort">级别</li>
                                    <li class="li-lenth">报警描述</li>
                                    <li class="li-sort li-text-center">操作</li>
                                </ul>
                            </div>

                            <div class="table-ul-div">
                                <ul class="table-ul-body table-ul-body-bg">
                                    <li v-for="(item,index) in alarm_attributes" class="clearfix">
                                        <div class="li-sort">
                                            <select v-model="item.alarm_operator" lay-filter="filterOperator">
                                              <option value="2" :id="index">&gt</option>
                                              <option value="3" :id="index">&lt</option>
                                            </select>
                                        </div>
                                        <div class="li-lenth">
                                            <input v-model="item.value" type="text" autocomplete="off" class="layui-input"></div>

                                        <div class="li-sort">
                                            <select v-model="item.alarm_level" lay-filter="filterAlarmLevel">
                                              <option value="3" :id="index">高</option>
                                              <option value="2" :id="index">中</option>
                                              <option value="1" :id="index">低</option>
                                            </select>
                                        </div>
                                        <div class=" li-lenth">
                                            <input v-model="item.message" type="text" autocomplete="off" class="layui-input"></div>

                                        <div class=" li-sort li-text-center li-text-center-a">
                                            <a @click="alarmAttributesDel(item)" href="javascript:;">删除</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="layui-form-item" style="margin-top: 20px;">
                                <div class="layui-inline history-inline-check">
                                    <div class="label-check-div label-check-div-checkwarn">
                                        <input lay-filter="filterWarnSiQu" disabled class="cla-Warn-SiQu-check" lay-skin="primary" title="死区" type="checkbox"></div>
                                </div>
                                <div class="layui-inline">
                                    <div class=" layui-input-inline">
                                        <input v-model="labelIntWarnSiQuValue" :disabled="disabledIntWarnSiQuVal" type="text" autocomplete="off" class="layui-input" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="9"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div :class="{basehide:isString}" class="layui-form label-content-base">
                        <div class="base-title">
                            <label>历史数据</label>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline history-inline-check">
                                <div class="label-check-div label-check-div-checkwarn">
                                    <input class="cla-hischangesave-check" lay-filter="filterHisChangeSave" type="checkbox" lay-skin="primary" title="当数据改变时存储"></div>
                            </div>

                            <div :class="{basehide:isBool}" class="layui-inline">
                                <label class="label-title label-title-right-4  layui-form-label">死区</label>
                                <div class=" layui-input-inline">
                                    <input v-model="labelHistorySiQuVal" :disabled="disabledHisSiQu" type="text" autocomplete="off" class="layui-input" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="9"></div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline history-inline-check">
                                <div class="label-check-div label-check-div-checkwarn">
                                    <input class="cla-hisfixsave-check" lay-filter="filterHisFixSave" type="checkbox" lay-skin="primary" title="固定时间间隔存储"></div>
                            </div>

                            <div class="layui-inline">
                                <label class="label-title label-title-right-4  layui-form-label" style="text-align: right;">每</label>
                                <div class=" layui-input-inline">
                                    <input v-model="labelHistoryFixSaveValue" :disabled="disabledHisTime" type="text" autocomplete="off" class="layui-input" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="9"></div>

                                <div class="layui-input-inline label-history-unit">
                                    <select class="cla-histimeunit-sel" lay-filter="filterHisTimeUnit">
                                      <option value="1">秒</option>
                                      <option value="2">分</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                    </div>

                </form>
            </div>

        </div>
        <!-- 批量删除 询问 -->
        <div id="delLabelGroup" class="layer-default">
            <div class="bayax-layer-content">确认删除所有选中的标签吗</div>
        </div>

        <div id="delOneLabel" class="layer-default">
            <div class="bayax-layer-content del-node-content">确认删除该标签吗</div>
        </div>
        <div v-bind:class="{ loadingShow:loadingShow }" class="loading">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <script src="plugin/jQuery/jquery-1.11.1.min.js"></script>
    <script src="plugin/jQuery/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="plugin/vue.js"></script>
    <script src="plugin/layui/layui.js"></script>
    <script src="js/basic/api.js"></script>
    <script src="js/sysSet/datalabelManagement.js"></script>

</body>

</html>