@charset "UTF-8";

* {
    list-style: none;
    margin: 0px;
}

.indexText img {
    display: inline-block;
    margin-top: -20px;
    margin-left: 30px;
}

body {
    font-family: "微软雅黑";
    min-width: 1340px;
    overflow: auto;
}

.clear {
    clear: both;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.btn.btn-primary.btn-border:active,
.btn.btn-primary.btn-border:focus,
.btn-group>.btn.btn-primary {
    background-color: #3F446E;
    color: #ffffff;    
}

.btn {
    outline: none;
}

.btn:active,
.btn:focus {
    outline: none;
}

.btn.btn-primary {
    outline: none;
}

.btn-primary:hover {
    color: #fff;
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
    outline: 0;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    outline: 0;
}

/*输入框基本样式开始*/
.form-control:focus,
.has-focus .form-control {
    border-color: #ccc;
    box-shadow: none;
    outline: 0 none;
}

.btn {
    padding: 11px;
}

.btn-group > .btn:first-child {
    margin-left: 25px;
    width: 120px;
}

.btn-group > .save-btn.btn:first-child {
    width: 120px;
    margin-left: 0;
}





/*下拉框*/


/* 设备监控页面开始 */

/*----------------------------------------
 Menu
------------------------------------------*/

/* 新建日程页面开始 */

.content-shadow {
    border-top: 3px solid #35c99d;
    box-shadow: 0 0 5px #ddd, -1px 2px 5px #ddd;
    padding-bottom: 45px;
}

.bottom_border {
    border-bottom: 1px solid #ddd;
    margin: 0 25px;
}

.zi {
    padding: 0 25px;
}

.zi .table>tbody>tr>td {
    color: #666;
    text-align: left;
    padding-left: 30px;
}

.zi .table>thead>tr>th {
    line-height: 40px;
    color: #666;
    text-align: left;
    width: 20%;
    padding-left: 30px;
}

.zi_right {
    padding-top: 16px;
}

.zi_height {

    /* height: 700px;*/
    min-height: 700px;
    overflow: hidden;
}

.zi_msg {
    font-size: 16px;
    text-align: center;
    margin-top: 19%;
    color: #666;
}

.time_action {
    width: 60px;
    display: inline-block;
}

.time_action a {
    color: #666;
}

.last_td {
    margin-left: -25px;
}

.button {
    display: inline-block;
    position: absolute;
    width: 75px;
    height: 27px;
    margin-top: 14px;
    margin-left: 5px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);    /* transform: translate(-50%, -50%); */
    border-radius: 40px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button span {
    position: absolute;
    display: block;
}

.button span:first-of-type {
    z-index: 100;
    top: 6px;
    right: 6px;
    width: 21px;
    height: 22px;
    background: -webkit-linear-gradient(top, #b8e986 0%, #b4e086 100%);
    border-radius: 36px;
    border: 1px solid #ddd;
    right: 8px;
}

.button span:nth-last-of-type(-n+2) {
    z-index: 10;
    top: 4px;
    width: 67px;
    height: 27px;
    border: 1px solid #ddd;
    border-radius: 36px;
}

.button span:nth-last-of-type(-n+2):after {
    position: absolute;
    top: 5px;
    line-height: 1;
    font-size: 10px;
    color: #666;
    right: 8px;
    text-align: right;
    font-weight: normal;
}

.button span:nth-of-type(2) {
    left: 4px;
    background: #fff;
    border-radius: 36px;
    border: 1px solid #ddd;
}

.button span:nth-of-type(2):after {
    content: "有效";
    left: 5px;
    text-align: left;
}

.button span:last-of-type {
    right: 4px;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    opacity: 0;
    border: 1px solid #ddd;
    background: #fff;
}

.button span:last-of-type:after {
    content: "无效";
    left: 13px;
}

.button input[type="checkbox"] {
    display: none;
}

.button input[type="checkbox"]:checked ~ span:first-of-type {
    right: 46px;
    border: 1px solid #ddd;
    background: #ddd;
}

.button input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    opacity: 0.2;
}

.button input[type="checkbox"]:checked ~ span:last-of-type {
    opacity: 1;
}

.last_check {
    margin-left: 13%;
}

.catchs {
    margin-left: -14px;
}

.disabled>td {
    opacity: 0.4;
}

/* 新建日程页面结束 */

/* 编辑日程开始 */
.pad {
    padding: 11px 30px;
}

.mar {
    margin-right: 30px;
}

.time_left {
    width: 50%;
    float: left;
    border-right: 1px solid #ddd;
    height: 100%;
}

.time_right {
    width: 50%;
    float: left;
}

.xu1 {
    width: 15px;
    height: 15px;
    background: #35c99d;
    margin-right: 50px;
    float: left;
    margin-top: 72px;
}

.xu_title {
    color: #666;
    margin-top: 68px;
    float: left;
}

.biao_xu {
    width: 5px;
    height: 15px;
    background: #35c99d;
    margin-left: 3%;
    float: left;
    margin-top: 3px;
}

.biao {
    margin-top: 47px;
}

.x_title {
    margin-left: 15px;
    color: #666;
    font-size: 14px;
}

.warps {
    margin-left: 18px;
    margin-top: 30px;
    color: #666;
    font-size: 14px;
}

.dtitle {
    margin-right: 27px;
    display: inline-block;
}

.dgroup {
    margin-bottom: 20px;
    overflow: hidden;
}

.ddata {
    background-color: #f7f7f7;
    padding: 18px 0 18px 20px;
    width: 60%;
    display: inline-block;
    color: #333;
}

.dtime {
    background-color: #f7f7f7;
    padding: 18px 0 18px 20px;
    width: 25%;
    display: inline-block;
    color: #333;
}

.dspild {
    width: 10%;
    display: inline-block;
    text-align: center;
}

.dwrap {
    border-top: 2px solid #999;
    margin-left: 3%;
    margin-top: 25px;
}

.dwrap .table {
    font-size: 14px;
    color: #666;
}

.dwrap .table>thead>tr>th {
    height: 44px;
    line-height: 44px;
    border: none;
    background-color: #f9f9f9;
}

.dwrap .table-stripeds>tbody>tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.dwrap .table input {
    border: 1px solid transparent;
}

.dwrap .table input:focus {
    outline: none;
    border: 1px solid #ddd;
}

.footers {
    margin-top: 250px;
}

#editFrom {
    font-size: 14px;
    color: #666;
}

.from_lable {
    text-align: left;
    color: #666;
    font-weight: normal;
    padding-top: 14px;
}

.mar_top {
    margin-top: 34px;
}

.zi .form-control {
    width: 60%;
    display: inline;
    margin-left: 27px;
}

.iradio_square-green {
}

.d-lable {
    font-weight: normal;
    margin-left: 5px;
    color: #666;
}

.d-span {
    margin-right: 20px;
}

#editFrom input {
    color: #333;
    font-size: 14px;
}

#editFrom .form-group {
    padding-left: 33px;
    padding-right: 10px;
}

select.input-lg,
select.form-group-lg .form-control {
    height: 44px;
    line-height: 44px;
    padding: 0px;
    padding-left: 10px;
}

.d-top {
    margin-top: 45px;
}

.d-spans {
    margin-right: 69px;
}

.repeat {
    border: 1px solid #ddd;
    display: inline-block;
    width: 85%;
}

.repeat .d-span {
    margin-left: 20px;
    height: 35px;
    margin-top: 15px;
    margin-right: 0px;
}

.s-weeks {
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.add-data {
    padding-left: 25px;
    border: 1px solid #ddd;
    display: inline-block;
    width: 85%;
}

.add-title {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

#adds {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 10px;
    outline: none;
}

.week-width {
    width: 65px;
    height: 32px;
    line-height: 32px;
    margin-right: 9px;
    display: inline-block;
}

.repeat-title {
    float: left;
    margin-top: 20px;
    margin-right: 25px;
}

.zi .d-time {
    width: 20%;
}

.zi .timespaild {
    margin-left: 10px;
}

.no-time {
    margin-left: 41px;
}

.zi .input-lg {
    font-size: 14px;
    color: #666;
}

.acts .form-control {
    width: 30%;
}

.acts .datepicker {
    text-align: left;
}

.form-group .error {
    color: rgba(240, 80, 80, 1.0);
    font-weight: 400;
    font-size: 13px;
}

.addleft {
    width: 55%;
    float: left;
}

.addright {
    float: left;
    margin-left: 2%;
    width: 43%;
}

#addData {
    margin: 20px 30px;
}

#addData .content {
    border: 1px solid #ddd;
    height: 450px;
}

.addleft header {
    position: relative;
}

.addleft .search input {
    width: 40%;
}

.addleft .cha {
    left: 38%;
    top: 11px;
}

.addright p {
    height: 45px;
    line-height: 45px;
    color: #666;
    margin-left: 10px;
}

.input-group-addon {
    background-color: #fff;
}

.data-msg {
    text-align: center;
    margin-top: 20%;
    color: #ababab;
    font-size: 16px;
    line-height: 28px;
}

#addData .table>tbody>tr>td,
.table>tbody>tr>th,
#addData .table>thead>tr>th {
    border: none;
    text-align: left;
    padding-left: 20px;
    color: #696969;
    line-height: 30px
}

#yiData .table>tbody>tr>td,
.table>tbody>tr>th,
#yiData  .table>thead>tr>th {
    border-bottom: 1px solid #ddd;
    text-align: center;
    width: 32%;
}

#yiData {
    padding: 0 10px;
}

#yiData .table>tbody>tr>td>a {
    color: #eb5970;
}

#adds::before {
    border-bottom: none;
}

.timetext {
    width: 120px;
    display: inline-block;
    line-height: 30px;
}

/* 编辑日常结束 */
@media screen and (max-width:1466px) {
    .full-right {
        margin: 0px;
    }

    .full-lefts {
        margin-left: 11px;
    }

    .no-time {
        margin-left: 11px;
    }

}

@media screen and (max-width:1515px) {
    .repeat {
        width: 63%;
    }

    .add-data {
        width: 63%;
    }

    .week-width {
        margin-bottom: 10px;
    }

    .d-span {
        margin-right: 0px;
    }

}

/*能源管理-开始*/

/*能源管理-结束*/