.layui-body {
    color: #666;
}

html {
    background: #fff;
}


/*按钮*/

.bayax-btn,
.bayax-btn-cancel {
    background: #35C99D;
    color: #fff;
    width: 112px;
    border-radius: 5px;
    height: 44px;
    line-height: 44px;
    padding: 0;
}

.bayax-btn:hover {
    background: #2AB38B;
}

.bayax-btn-cancel {
    background-color: #ff5555;
    color: #ffffff;
}

.bayax-btn-cancel:hover {
    background: #EA4646;
}

.bayax-btn-other {
    background-color: #FFFFFF;
    border: 1px solid #35c99d;
    color: #35C99D;
}

.bayax-btn-other:hover {
    border: 1px solid #2AB38B;
    background-color: #FFFFFF;
    color: #35C99D;
}

.bayax-btn-export {
    height: 38px;
    line-height: 38px;
    width: 105px;
    border: none;
    background: #fff;
    border: 1px solid #35c99d;
    color: #35c99d;
    cursor: pointer;
}

.bayax-btn-export:hover {
    background: #fff;
    color: #35c99d;
}


/* 按钮 */


/* 下拉按钮组 公共-begin */

.bayax-select-click {
    position: relative;
    width: 112px;
}

.bayax-select-title {}

.bayax-select-title span {
    display: block;
    width: 100%;
    height: 38px;
    padding-left: 10px;
    padding-top: 8px;
    -webkit-appearance: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    box-sizing: border-box;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
    border: 1px solid rgba(143, 152, 186, 0.31);
}

.bayax-select-click .bayax-edge {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    cursor: pointer;
    border-width: 6px;
    border-top-style: solid;
    transition: all .3s;
    -webkit-transition: all .3s;
    border-top-color: #c2c2c2;
}

.bayax-select-clicked .bayax-edge {
    margin-top: -9px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -3px\9;
}

.bayax-edge {
    position: absolute;
    width: 0;
    height: 0;
    border-style: dashed;
    border-color: transparent;
    overflow: hidden;
}

.bayax-select-ul {
    display: none;
    position: absolute;
    left: 0;
    top: 42px;
    padding: 5px 0;
    z-index: 999;
    min-width: 100%;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
    box-sizing: border-box;
    border: 1px solid rgba(143, 152, 186, 0.31);
    cursor: pointer;
    background: #fff;
}

.bayax-select-clicked ul.bayax-select-ul {
    display: block;
}

.bayax-select-ul li {
    margin-bottom: 1px;
    padding: 0 10px;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bayax-select-ul li:hover {
    background: #f5f5f5;
    color: #333;
}

.bayax-anim-upbit {
    -webkit-animation-name: layui-upbit;
    animation-name: layui-upbit;
}

.bayax-anim {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/* 下拉按钮组 公共end */


/* 下拉按钮组-1  begin */

.bayax-select-group ul {
    top: 50px;
}


/* .bayax-select-group {
    position: relative;
    width: 112px;
}

.bayax-select-group ul {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    padding: 5px 0;
    z-index: 999;
    min-width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
    box-sizing: border-box;
    border: 1px solid rgba(143, 152, 186, 0.31);
    color: #fff;
    background: #fff;
    border: 1px solid rgba(143, 152, 186, 0.31);
}

.bayax-select-group ul li {
    margin-bottom: 1px;
    cursor: pointer;
    padding: 0 10px;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1px;
    color: #666666;
}

.bayax-select-group ul li:hover {
    background-color: #f5f5f5;
    color: #333;
} */


/* 下拉按钮组-1  end */


/* 下拉按钮组-2  begin */


/* .bayax-btn-select {
    position: relative;
    width: 112px;
    background: #fff;
}

.bayax-select-span {
    display: block;
    width: 100%;
    height: 38px;
    padding-left: 10px;
    padding-top: 8px;
    -webkit-appearance: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    box-sizing: border-box;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
    border: 1px solid rgba(143, 152, 186, 0.31);
}

.bayax-btn-select .bayax-edge {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    cursor: pointer;
    border-width: 6px;
    border-top-style: solid;
    transition: all .3s;
    -webkit-transition: all .3s;
    border-top-color: #c2c2c2;
}

.bayax-btn-selected .bayax-edge {
    margin-top: -9px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -3px\9;
}

.bayax-edge {
    position: absolute;
    width: 0;
    height: 0;
    border-style: dashed;
    border-color: transparent;
    overflow: hidden;
}

.bayax-btn-select ul {
    background: #fff;
    border: 1px solid rgba(143, 152, 186, 0.31);
    color: #666;
}

.bayax-btn-selected ul {
    display: block;
}

.bayax-btn-select ul {
    display: none;
    position: absolute;
    left: 0;
    top: 42px;
    padding: 5px 0;
    z-index: 999;
    min-width: 100%;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
    box-sizing: border-box;
    border: 1px solid rgba(143, 152, 186, 0.31);
    cursor: pointer;
}

.bayax-btn-selected ul {
    display: block;
}

.bayax-btn-select ul li {
    margin-bottom: 1px;
    padding: 0 10px;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bayax-btn-select ul li:hover {
    background: #f5f5f5;
    color: #333;
} */


/* 下拉按钮组-2  end */


/* hover 按钮组 */

.bayax-sel-ul {
    position: absolute;
    display: none;
    width: 80px;
    top: 60px;
    left: -20px;
    padding: 5px 0;
    z-index: 999;
    min-width: 100%;
    max-height: 300px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
    box-sizing: border-box;
    background: #fff;
    border: 1px solid rgba(143, 152, 186, 0.31);
    color: #c6c6c6;
}

.bayax-sel-ul::after {
    border: 7px solid transparent;
    border-bottom-color: #fff;
    top: -14px;
}

.bayax-sel-ul::after,
.bayax-sel-ul::before {
    width: 0;
    height: 0;
    position: absolute;
    left: 45px;
    content: "";
}

.bayax-sel-ul li {
    line-height: 40px;
}

.bayax-sel-ul li:hover {
    background-color: #f5f5f5;
}

.bayax-sel-ul li a {
    padding: 0 10px !important;
    color: #666;
}


/* hover 按钮组 */


/*content-body*/

.content-head+.content-body {
    margin-top: 15px;
}

.content-body {
    padding-right: 20px;
}

.content-body-border-top {
    background: #35c99d;
    height: 2px;
}

.content-main {
    background: #fff;
    padding: 20px 20px;
    box-shadow: -5px 0 10px #E6E6E6, 5px 5px 10px #E6E6E6, 0 0 0 #FFFFFF, 5px 5px 25px #E6E6E6;
    -webkit-box-shadow: -5px 0 10px #E6E6E6, 5px 5px 10px #E6E6E6, 0 0 0 #FFFFFF, 5px 5px 25px #E6E6E6;
}


/*select input textarea*/

.bayax-select {
    /* background: #1D2142; */
    color: #999;
    border: 1px solid rgba(143, 152, 186, 0.31);
    height: 34px;
    padding: 6px 12px;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    font-size: 14px;
    line-height: 1.42857143;
    display: block;
}

.layui-input {
    background: transparent;
    color: #666;
}

.layui-input,
.layui-select,
.layui-textarea {
    border: 1px solid rgba(143, 152, 186, 0.31);
    color: #666;
}

.layui-input:disabled {
    cursor: not-allowed!important;
}

.layui-select-disabled .layui-disabled {
    border-color: rgba(143, 152, 186, 0.31)!important;
}

.layui-input:hover,
.layui-select:hover,
.layui-textarea:hover {
    border: 1px solid rgba(143, 152, 186, 0.31) !important;
    border: 1px solid #ccc;
}

.layui-input:focus,
.layui-select:focus,
.layui-textarea:focus {
    border: 1px solid rgba(143, 152, 186, 0.31) !important;
    border-color: #66afe9;
    /* outline: 0; */
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6); */
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6); */
}

.layui-form-select dl {
    background: #fff;
    border: 1px solid rgba(143, 152, 186, 0.31);
    color: #c6c6c6;
}

.layui-form-select dl dd {
    margin-bottom: 1px;
    color: #c6c6c6;
}

.layui-form-select dl dd:hover,
.layui-form-select dl dt:hover,
.layui-form-select dl dd.layui-this {
    background-color: #f5f5f5;
    color: #333;
}

.bayax-textarea {
    background: transparent;
    color: #666;
    border: 1px solid rgba(143, 152, 186, 0.31);
    padding: 5px 10px;
    border-radius: 2px;
    resize: none;
}

.bayax-textarea:focus {
    border: 1px solid rgba(143, 152, 186, 0.31) !important;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6); */
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6); */
}


/* ul  li */

.bayax-ul li {
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
}

.bayax-ul li:nth-of-type(even) {
    background: #191c33;
}

.bayax-ul li:nth-of-type(odd) {
    background-color: #262A50;
}


/* ul  li */


/*checkbox*/

.layui-form-checkbox i {
    color: transparent;
}

.layui-form-checkbox[lay-skin=primary] i {
    width: 20px;
    height: 20px;
    line-height: 22px;
    font-size: 16px;
    background-color: transparent;
}

.layui-form-checked[lay-skin=primary] i {
    border-color: #35c99d;
    background-color: #35c99d;
}

.layui-form-checkbox[lay-skin=primary]:hover i {
    border-color: #35c99d;
    color: transparent;
}

.layui-checkbox-disbaled[lay-skin=primary]:hover i {
    color: transparent!important;
}

.layui-form-checked.layui-checkbox-disbaled[lay-skin=primary] i {
    background: #D2D2D2;
    border: none;
}

.layui-form-checked.layui-checkbox-disbaled[lay-skin=primary]:hover i {
    color: #fff!important;
    border-color: transparent;
}

.layui-form-checked[lay-skin=primary]:hover i {
    color: #fff;
}

.layui-form-checkbox[lay-skin=primary] span {
    float: right;
    line-height: 20px;
    font-size: 16px;
    color: #666;
}

.layui-form-checkbox[lay-skin=primary] span {
    color: #666;
    line-height: 20px;
}


/*checkbox*/


/* 加载动画开始 */

.loading {
    width: 150px;
    height: 15px;
    margin: 0 auto;
    margin-top: 100px;
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 198910199;
    display: none;
}

.loadingShow {
    display: block;
}

.loading span {
    display: inline-block;
    width: 15px;
    height: 100%;
    margin-right: 5px;
    border-radius: 50%;
    background: #35c99d;
    -webkit-animation: load 1.04s ease infinite;
}

.loading span:last-child {
    margin-right: 0px;
}

@-webkit-keyframes load {
    0% {
        opacity: 1;
        -webkit-transform: scale(1.3);
    }
    100% {
        opacity: 0.2;
        -webkit-transform: scale(.3);
    }
}

.loading span:nth-child(1) {
    -webkit-animation-delay: 0.13s;
}

.loading span:nth-child(2) {
    -webkit-animation-delay: 0.26s;
}

.loading span:nth-child(3) {
    -webkit-animation-delay: 0.39s;
}

.loading span:nth-child(4) {
    -webkit-animation-delay: 0.52s;
}

.loading span:nth-child(5) {
    -webkit-animation-delay: 0.65s;
}


/* 加载动画结束 */


/*弹窗样式初始化*/

.layer-default {
    display: none;
}

div.layui-layer-title {
    font-size: 16px;
    color: #333;
    border: none;
    height: 50px;
    font-weight: bold;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
    background: #fff;
}

.bayax-layer-content-border {
    border-bottom: 1px solid #dedede;
}

body .layui-layer-btn a,
body .layui-layer-btn a.layui-layer-btn0 {
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    border-radius: 2px;
    background: #35c99d;
    border: none;
    outline: 0;
    color: #fff;
}

body .layui-layer-btn a.confirm,
body .layui-layer-btn a.layui-layer-btn0.confirm {
    height: 28px;
    line-height: 28px;
    margin: 5px 5px 0;
    padding: 0 15px;
}

body .layui-layer-btn a:last-child {
    color: #a8a8a8;
    background: #fff;
    border: 1px solid #dedede;
}

.layui-layer-page .layui-layer-content {
    overflow: inherit !important;
}


/*自定义*/

.bayax-layer-content {
    padding: 20px 0;
    margin-left: 20px;
    margin-right: 20px;
    color: #666;
}


/*弹窗样式初始化*/


/*隐藏 *显示*/

.basehide {
    display: none!important;
}

.baseshow {
    display: block!important;
}


/*隐藏 *显示*/


/* 滚动条样式 */

.bayaxMscroll .mCustomScrollBox .mCSB_draggerContainer .mCSB_draggerRail {
    background: transparent;
}

.bayaxMscroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #DDDDDD;
    width: 5px;
}

.bayaxMscroll .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #dddddd;
}

.bayaxMscroll .mCustomScrollBox .mCSB_container {
    margin-right: 10px;
}

.bayaxMscroll .mCSB_scrollTools {
    margin-left: -3px;
    margin-right: -3px;
}


/* 页面样式 */


/*1 工程配置  */

.bayax-bg-black {
    background-color: #f5f5f5;
    border-right: 1px solid #E2E2E2;
}

.layui-nav-tree .layui-nav-item a {
    color: #9CA5A9;
}

.layui-nav-tree .layui-nav-item a:hover {
    background-color: #EEEEEE;
    color: #9CA5A9;
}

.layui-nav-tree .layui-nav-item.bayax-li-item-img a,
.layui-nav-tree .layui-nav-item.bayax-li-item-img a:hover {
    background: #35c99d;
}

.layui-nav-tree .layui-nav-item.active a {
    background-color: #EEEEEE;
    color: #35c99d;
}

.layui-side a i {
    background: url(../images/systemSet.png) no-repeat;
}

.layui-side li.active a i.gcgl {
    background-position: -120px 0;
}

.layui-side li.active a i.jdgl {
    background-position: -140px 0;
}

.layui-side li.active a i.sjbqgl {
    background-position: -160px 0;
}

.layui-side li.active a i.nhtjsd {
    background-position: 0 0;
}

.layui-side li.active a i.txhmgl {
    background-position: -80px 0;
}

.layui-side li.active a i.nhtjfj {
    background-position: 0 0;
}

.layui-side li.active a i.yhqxgl {
    background-position: -40px 0;
}

.layui-side a i.gcgl {
    background-position: -100px 0;
}

.layui-side a i.jdgl {
    background-position: -180px 0;
}

.layui-side a i.sjbqgl {
    background-position: -20px 0;
}

.layui-side a i.nhtjsd {
    background-position: -40px 0;
}

.layui-side a i.txhmgl {
    background-position: -60px 0;
}

.layui-side a i.nhtjfj {
    background-position: -40px 0;
}

.layui-side a i.yhqxgl {
    background: url(../images/systemgreen.png) no-repeat;
    background-position: 0 0;
}


/*搜索框-*/

.content-search {
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 20px;
    background: #FFFFFF;
    float: right;
    width: 265px;
    border: 1px solid rgba(143, 152, 186, 0.31);
}

.search-span {
    font-size: 20px;
    position: relative;
    display: inline-block;
    top: 5px;
}

.content-search input {
    height: 44px;
    width: 210px;
    border: none;
}

.span-del {
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    position: relative;
    top: 5px;
    display: none;
}

.content-search input::-ms-clear {
    display: none;
}

.content-search input:valid+.span-del {
    display: inline;
}


/*搜索框-*/


/* 数据标签弹窗 */

.label-content-base .base-title label {
    border-left: 5px solid #35c99d;
}

.label-check-div span {
    color: #666!important;
}

.other-warn-content .table-ul-body-bg li:nth-of-type(even) {
    background-color: #f8fbfa;
}

.other-warn-content .table-ul-body-bg li:nth-of-type(odd) {
    background-color: #FFFFFF;
}

.table-ul-head {
    border-bottom: 2px solid #eee;
}


/* 能耗统计设定 */

.energyStatistics-head {
    border-bottom: 1px solid #dedede;
}

.energyStatistics-content-body .bayax-ul li.active {
    border-left: 6px solid #35c99d;
    color: #35c99d;
}

.energyStatistics-content-body .bayax-ul li:hover {
    border-left: 6px solid #35c99d;
    color: #35c99d;
}

.energyStatistics-content-body .bayax-ul li:nth-of-type(even) {
    background-color: #f8fbfa;
}

.energyStatistics-content-body .bayax-ul li:nth-of-type(odd) {
    background-color: #FFFFFF;
}

.energyStatistics-right-head span.head-title {
    border-left: 3px solid #35c99d;
}

.energyStatistics-right-content table thead {
    border: 1px solid #fff;
}

.energyStatistics-right-content table thead tr th {
    background-color: #f9f9f9;
}

.statistic-layer-left-div div.content,
.statistic-layer-right-div div.content {
    border: 1px solid #ddd;
}

.statistic-layer .bayax-table>thead>tr>th {
    background: #fff;
}


/* .statistic-layer .bayax-table tbody>tr:nth-of-type(odd) {
    background-color: #f8fbfa;
}

.statistic-layer .bayax-table tbody>tr:nth-of-type(even) {
    background-color: #FFFFFF;
} */


/* 图形画面管理 */

.graphi-div {
    border-bottom: 1px solid #dedede;
}

.subsystem-head {
    color: #fff;
    background: #6C6C6C;
}


/* 能耗统计分级 */

.panel-heading {
    background: #F7F7F7;
}

.icon-tree {
    color: #A8A8A8;
}

div.bayaxtree-div {
    box-shadow: -5px 0 10px #E6E6E6, 5px 5px 10px #E6E6E6, 0 0 0 #FFFFFF, 5px 5px 25px #E6E6E6;
    -webkit-box-shadow: -5px 0 10px #E6E6E6, 5px 5px 10px #E6E6E6, 0 0 0 #FFFFFF, 5px 5px 25px #E6E6E6;
}

div.bayaxTree ul li a span {
    color: #666;
}


/*用户权限管理*/

.user-div-l table tbody tr.sele {
    border-left: 5px solid #35c99d
}

.user-set-head span.user-set-head-title {
    border-left: 4px solid #35c99d;
}

.user-set-ul-scroll li:nth-of-type(even) {
    background-color: #f8fbfa;
}

.user-set-ul-scroll li:nth-of-type(odd) {
    background-color: #FFFFFF;
}


/* 数据展示块  布局 */

.bayax-layout-admin .bayax-layout-header {
    background-color: #35c99d;
    border-bottom: 1px solid #35c99d;
}

.bayax-layout-header .active {
    border-bottom: 5px solid #fff;
}

.bayax-proname {
    color: #fff;
}

.bayax-proname:before {
    background-color: #fff;
}

.bayax-layout-header .layui-nav-item>a,
.bayax-nav .layui-nav-item>a {
    color: #fff;
}

.bayax-nav {
    background-color: #393D49;
}

.bayax-body {
    color: #666;
}

.bayax-tab-title {
    border-bottom: 1px solid #35c99d;
}

.bayax-tab-title li {
    border: 1px solid #35c99d;
}

.bayax-tab-title li.layui-this {
    background: #35c99d;
    color: #fff;
}


/* .bayax-tab-item {
    border: 1px solid #3B3E5F;
} */

.bayax-tab-item a.btn-sure {
    background: #35c99d;
    color: #fff;
}

.bayax-tab-item a.btn-sure:hover {
    background: #2AB38B;
}

.tab-warn-div input {
    background: #fff;
}