<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="author" content="">

	<title>点设定</title>

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="css/dashboard.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/layer/layer.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="js/public/jquery.min.js"></script>
	<script type="text/javascript" src="js/public/angular.min.js"></script>
	<script type="text/javascript" src="js/respond.js"></script>

</head>

<body>

	<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">				
				<a class="navbar-brand" href="#">MewtocolSIG</a>
			</div>
			
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<!-- BEGIN left menu -->
			<div class="col-sm-3 col-md-2 sidebar" >
				<div id="treeview1" class="treeview">
					<ul id="list-group" class="list-group"></ul>
				</div>
				<script src="js/public_left_menu.js"></script>
			</div>
			<!-- END left menu -->

			<div   ng-app="bayaxPointSet" ng-controller="myCtrl"    id="main" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main point-set-main">
				<div ng-show="mainShow"  class="panel panel-default point-main-display">
					<div class="panel-heading">
						<h3>点设定列表</h3>
					</div>
					<div class="panel-body first">
						<div id="save-model" class="form-group">
							<button class="btn btn-primary point-set-creat-btn" ng-click="init()">新建点位</button>
							<button class="btn btn-primary">下载点表</button>
							<button class="btn btn-primary">上传点表</button>
							<button class="btn btn-primary" ng-click="deletePoint()">批量删除</button>
						</div>
						<div class="form-group rtu-group">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>选择</th>
										<th>行号</th>
										<th>点名称</th>
										<th>设备IP:端口</th>
										<th>设备ID</th>
										<th>地址</th>
										<th>数据类型</th>
										<th>换算系数</th>
										<th>点ID</th>
										<th>定时发布</th>
										<th>发布周期</th>
										<th>COV发布</th>
										<th>操作</th>

									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="row in datas" ng-init="outerIndex = $index" ng-click="changeCurrents(row, $event)">
										<td>
											<input type="checkbox" id="check{{row.id}}" class="bayaxcheckbox"  name="pointBox" ng-model="row.checked" ng-click="changeCurrent(row, $event)">
											<label class="checkbox-i" for="check{{row.id}}"></label>
										</td>
										<td>{{ $index + 1 }}</td>
										<td>{{ row.name }}</td>
										<td>{{ row.eIP }}</td>
										<td>{{ row.eID }}</td>
										<td>{{ row.address}}</td>
										<td>{{ row.dataType}}</td>
										<td>{{ row.hsxs}}</td>
										<td>{{ row.pointID}}</td>
										<td>{{ row.dsfb}}</td>
										<td>{{ row.fbtime}}</td>
										<td>{{ row.covfb}}</td>


										 <td>
										 	<a class="a-edit" ng-click="zdTableEdit(row, $event)">编辑</a>

										 </td>
									</tr>
								</tbody>
							</table>
								<div id="pointStatusPage" class=" tcdPageCode"></div>
  								<div>已选对象：{{selectData}}</div>

						</div>

					</div>
				</div>

				<div    ng-class="{'create-rtus':creatShow}"    class="panel panel-default create-rtu" >
					<div class="panel-heading">
						<h3>点参数设定</h3>
					</div>
					<div class="panel-body" >
						<div class="form-group">
							<button  ng-click="save()" class="btn btn-primary">保存</button>
							<button  ng-click="cancle()"  class="btn btn-primary return-main-btn">取消</button>
						</div>

						<form class="form-horizontal">
							<div class="form-group" >
								<label class="col-sm-1 control-label">点名称</label>
								<div class="col-sm-4">
									<input ng-model="p_name" ng-blur="validationName()" ng-focus="isRightName=false" ng-class="{'bordered': isRightName}" type="text" maxlength="20" class="form-control">
								</div>
								<label class="col-sm-6" style="padding-top: 8px;">20个字符以内,如果不填自动生成</label>
							</div> 
							<div class="form-group">

								<div class="form-group" >
									<label class="col-sm-1 control-label">设备IP</label>
									<div class="col-sm-4">
										<input ng-model="p_ip" ng-blur="validationEIp()" ng-focus="isRightEIp=false" ng-class="{'bordered': isRightEIp}"  type="number" placeholder="0.0.0.0-255.255.255.255" title="0.0.0.0-255.255.255.255" class="form-control"></div>
									<label class="col-sm-1 mandatory-input">*</label>
									<label class="col-sm-1 control-label">端口</label>
									<div class="col-sm-2">
										<input ng-model="p_port" ng-blur="validationPort()" ng-focus="isRightPort=false" ng-class="{'bordered': isRightPort}" type="number" class="form-control"  title="请输入0-65535正整数"></div>
									<label class="col-sm-3" style="padding: 0;padding-top: 8px;max-width: 120px;">如果不填默认9094</label>
								</div>

								<!-- <div class="form-group">
									<label class="col-sm-1 control-label">设备ID</label>
									<div class="col-sm-4">
										<input ng-model="p_equipment_id" ng-blur="validationEId()" ng-focus="isRightEId=false" ng-class="{'bordered': isRightEId}" type="number" class="form-control"  title="请输入0-99正整数" placeholder="0-99正整数" type="number" class="form-control"></div>
									<label class="col-sm-1 mandatory-input">*</label>

								</div> -->

								<div class="form-group" >
									<label class="col-sm-1 control-label">地址</label>
									<div class="col-sm-4">
										<input ng-model="p_address" ng-blur="validationAddress()" ng-focus="isRightAddress=false" ng-class="{'bordered': isRightAddress}" class="form-control"  title="请输入0-99999正整数" placeholder="0-99999正整数" type="number" class="form-control"></div>
									<label class="col-sm-1 mandatory-input">*</label>
								</div>
								<div class="form-group" >
									<label class="col-sm-1 control-label">数据类型</label>
									<div class="col-sm-4">
										<select ng-model="p_datatype" ng-change="datatypeChange()" class="form-control rtu-data-type" value="1">
											<option value="1">int16</option>
											<option value="2">uint16</option>
											<option value="3">int32</option>
											<option value="4">uint32</option>
											<option value="5">布尔型</option>
										</select>
									</div>
									<label class="col-sm-1 mandatory-input">*</label>

								</div>
								<div class="form-group" >
									<label class="col-sm-1 control-label">换算系数</label>
									<div class="col-sm-4">
										<input ng-model="p_conversion_factor"  ng-blur="validationCF()" ng-focus="isRightCF=false" ng-class="{'bordered': isRightCF}"  type="number" class="form-control"></div>

									<label class="col-sm-6" style="padding-top: 8px;">0.0001-100,最多4位小数,如果不填默认为1</label>
								</div>

							</div>

							<div class="form-group">
								<div class="form-group" style="">
									<label class="col-sm-1 control-label">点ID</label>
									<div class="col-sm-4">
										<input ng-model="p_id" type="number" class="form-control"></div>

									<label class="col-sm-6" style="padding-top: 8px;">如果不填默认自动生成</label>
								</div>
								<div class="form-group" style="">
									<label class="col-sm-1 control-label">定时发布</label>
									<label class="col-sm-1  checklabel">
										<input ng-model="p_timing" type="checkbox" id="dsfb"  class="bayaxcheckbox" ids="" ng-change="covTimeChange()" name="bayaxbox" >
										<label class="checkbox-i" for="dsfb"></label>
									</label>
									<label class="col-sm-1 control-label">发布周期</label>
									<div class="col-sm-2">
										<select ng-model="p_zhouqi" class="form-control rtu-release-cycle" value="" ng-disabled="selectZq">
											<option value="1">10秒</option>
											<option value="2">30秒</option>
											<option value="3">1分钟</option>
											<option value="4">5分钟</option>
											<option value="5">15分钟</option>
											<option value="6">30分钟</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label">COV发布</label>
									<label class="col-sm-1  checklabel ">

										<input ng-model="p_cov"  type="checkbox" id="covfb"  class="bayaxcheckbox" ids="" ng-change="covChange()" name="bayaxbox">
										<label class="checkbox-i" for="covfb" style="min-width: 23px;width: 23px;"></label>

									</label>

									<label class="col-sm-1 control-label">COV比例</label>
									<div class="col-sm-2">
										<input  ng-model="p_cov_num" ng-blur="validationCovNum()" ng-focus="isRightCovNum=false" ng-class="{'bordered': isRightCovNum}" type="number" class="form-control rtu-cov-release-input"   ng-readonly="covReadonly"></div>
									<label class="col-sm-1 control-label">%</label>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="change_model">
		<p>
			当前为[
			<span></span>
			]模式,是否切换为[
			<span></span>
			]模式
		</p>
		<p>模式切换后所有点位配置将清空</p>
	</div>
	<div id="delete_point">确认删除选中的点？</div>

	<script src="js/public/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/public/icheck.min.js"></script>
	<script type="text/javascript" src="js/public/layer.js"></script>
	<script type="text/javascript" src="js/point_set.js"></script>


</body>

</html>