<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="author" content="">

	<title>系统日志</title>

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="css/dashboard.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/layer/layer.css">

	<script src="js/public/angular.min.js"></script>
	<script src="js/public/jquery.min.js"></script>

</head>

<body>

	<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">MewtocolSIG</a>
			</div>

		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<!-- BEGIN left menu -->
			<div class="col-sm-3 col-md-2 sidebar">
				<div id="treeview1" class="treeview">
					<ul class="list-group"></ul>
				</div>
				<script src="js/public_left_menu.js"></script>
			</div>
			<!-- END left menu -->

			<div  ng-app="bayax" ng-controller="myCtrl" id="main" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div class="panel panel-default ">
					<div class="panel-heading">
						<h3>系统日志</h3>
					</div>
					<div class="panel-body system-panel">

						<button ng-click="logDownload()" class="btn btn-primary">当前日志下载</button>
						<div class="tab-content" style="margin-top: 20px;">

							<table class="table table-bordered">
								<thead>
									<tr>
										<th>行号</th>
										<th>时间</th>
										<th>事件描述</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="row in logDatas">
										<td>{{ $index + 1 }}</td>
										<td>{{ row.time}}</td>
										<td>{{ row.description}}</td>
									</tr>
								</tbody>
							</table>
							<div id="systemLogPage" class="tcdPageCode"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js/public/layer.js"></script>
	<script type="text/javascript" src="js/public/main.js"></script>
	<script type="text/javascript" src="js/system_log.js"></script>

</body>

</html>