
body {
    background-color: #EBEBEC;
}


/*.clearfix:after {
    content: '';
    display: block;
    clear: both
}*/

.uls .lis {
    float: left;
    width: 16.6666667%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 4px;
     background-color: blue;
}

.uls .li-div {
    position: relative;
    overflow: hidden;
    background-color: red;
}

.uls .li-div:before {
    content: "";
    display: block;
    padding-top: 100%
}

.uls .li-div>.img-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

/*.uls .li-div img {
    vertical-align: middle
}*/

.li-div{
    background-image: url(//ae01.alicdn.com/aetfs/tps/i2/TB12r_XHVXXXXacXFXXd4xm0VXX-640-640.png_350x350.jpg);
    -webkit-background-size: cover;
    background-size: cover
}


/*.lis .img-div {
    overflow: hidden
}*/
/*
.lis .img-div img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: initial
}*/







