html {
    background: #222222;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

q:before,
q:after {
    content: ''
}

a {
    text-decoration: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* 
html{
    background: #f3dfe5;
} */



body {
    /*max-width: 750px;*/
    /* width: 100%; */
    /* height: 100%; */
    /*height: 26.72rem;*/
    margin: 0 auto !important;
}


section {
    position: absolute;
    /* max-width: 414px; */
    /* width: 100%; */
    /* height: 100%; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* overflow: hidden; */
    background: #f3dfe5;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
}
.loading >div{
    text-align: center;
}
.loading-title{
    margin-top: 6.25rem;
}
.loading-title img{
    width: 3.85rem;
}
.loading-logo {
    margin-top: 1.25rem;
}
.loading-logo img{
    width: 8.55rem;
}
.loading-progress{
    margin-top: 1.65rem;
}
.progress-content {
    width: 13.9rem;
    background: #fff;
    height: 0.55rem;
    margin:0 auto;
    border-radius: 0.2rem;
    box-sizing: border-box;
    padding: 0.05rem;
}
.progress-content .progressbar{
    height: 0.45rem;
    border-radius: 0.2rem;
    background: #ffa5b9;
    width: 0;
}

.sec-start{
  /* background-image: url('../image/startbg.jpg');  */
}
.ad-dead{
    position: absolute;
    top: .5rem;
    height: 20px;
    /* background: red; */
    left: 0;
    right: 0;
    text-align: justify;
    z-index: 4;
}
.spirit{
    display: inline-block;
    /* background-image: url('../image/img.png'); */
    background-repeat: no-repeat;
    background-size: 63.05rem 30.05rem;
}
.ad-dead span.logo{ 
    margin-left: 1rem;
    width: 5.55rem;
    height: 1.7rem;  
    background-position:-28.45rem 0;
}


.ad-dead  span.install{
    margin-top: .5rem;
    margin-right: .83rem;
    width: 3.8rem;
    height: 1.2rem;  
    float: right;
    font-size: .78rem;
    line-height: 1.2rem;
    color: #fff;
    text-align: center;
    background-position:-15.15rem 0;

    
}
.sec-start .nikki{
    margin: 0 auto;
    margin-top: 2.7rem;
    width:6.75rem;

}
.sec-start .nikki img{
    width: 6.75rem;
    height: 19.05rem;;
}
.dialog-box{
    position: relative;
    width: 13.3rem;
    height: 4.3rem;
    background: rgba(255, 255, 255, .7);
    border: 0.1rem solid rgba(223, 205, 197, .3);
    border-radius: 0.25rem;
    margin: 0 auto;
    margin-top: -7.3rem;
    font-size: .8rem;
}
@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  
    to {
      transform: none;
    }
  }
  
  .bounceInLeft {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: bounceInLeft;
  }



@keyframes bounceOutLeft {
    20% {
      opacity: 1;
      transform: translate3d(10px, 0, 0);
    }
  
    to {
      opacity: 0;
      transform: translate3d(-2000px, 0, 0);
    }
  }
  
  .bounceOutLeft {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: bounceOutLeft;
  }
.dialog-head{
    box-sizing: border-box;
    display: inline-block;
    width: 3.3rem;
    height: 1.25rem;
    background: rgba(240, 167, 170, 1);
    color: #fff;
    border-radius: 0.35rem;
    border: 1px solid rgba(255, 255, 255, .7);
    position: absolute;
    top: -.8rem;
    left: 1rem;
    /* font-size: .8rem; */
    text-align: center;
    line-height: 1.23rem;
}
.dialog-box p{
    font-size: 0.67rem;
    color: #79644d;
}
.dialog-box p.str-p1{
    margin-top: 1.25rem;
}

.ripple{
    position: absolute;
    top: 1rem;
    left: 7rem;
}
.ripple1 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 2px;
    top: 2px;
    /* border: 1px solid red; */
    border: 2px solid rgba(255, 255, 255, .7);
    background: rgba(255, 255, 255, .6);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    -webkit-animation: warn .7s ease-out;
    -moz-animation: warn .7s ease-out;
    animation: warn .7s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    box-shadow: 1px 1px 30px #fff;
    z-index: 2;

}
.ripple2 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 2px;
    top: 2px;
    border: 2px solid rgba(255, 255, 255, .7);
    background: rgba(255, 255, 255, .6);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    -webkit-animation: warn1 .7s ease-out;
    -moz-animation: warn1 .7s ease-out;
    animation: warn1 .7s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    box-shadow: 1px 1px 30px #fff;
    z-index: 2;
}


@keyframes warn {
    0% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.0;
    }
    25% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        opacity: 0.1;
    }
    50% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        opacity: 0.3;
    }
    75% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        opacity: 0.5;
    }
    100% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        opacity: 0.0;
    }
}
@keyframes warn1 {
    0% {
        transform: scale(0.1);
        -webkit-transform: scale(0.1);
        opacity: 0.0;
    }
    25% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.1;
    }
    50% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        opacity: 0.3;
    }
    75% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        opacity: 0.0;
    }
}

.finger{
    position: absolute;
    top: 1.6rem;
    left: 1.8rem;
    width: 2.8rem;
    height: 2.35rem;
    background-position: -2.1rem 0;
    z-index: 3;
}


.pumping-cell{
    /* background-image: url('../image/lifu.png'); */
}

.pumping-cell .dialog-box{
    margin-top: 15.6rem;;
    width: 10.3rem;
    height: 3.3rem;
}
.pumping-cell .claim-div{
    margin-top: 1.9rem;
    position: relative;
}
.claim-div >span{
    width: 4.75rem;
    height: 2.15rem;
    line-height: 2.1rem;
    color: #fff;
    background-position:-23.7rem 0; 
}

.pumping-cell .claim-div .ripple{
    top: -1rem;
    left: 7.4rem;
}

.sec-public{
    /* background-image: url('../image/mrrs.png'); */
}
.sec-public div.title{
    margin-top: 3.3rem;
}
.sec-public div.title span{
    width: 10.75rem;
    height: 3.45rem;
}
.sec-public div.title span.english{
    background-position: -0.1rem -6.25rem;
}
.sec-public  .ripple{
    top: -1rem;
}

.attr{
    width: 12rem;
    margin: 0 auto;
    text-align: right;
    box-sizing: border-box;
}
.attr >div {   
    float: right;
    margin-right: .1rem;
    position: relative;
}
.attr >div >div{
    border-radius: .6rem;
    text-align: center;
    color: #fff;
    padding: .1rem;
}
.attr p{
    font-size: .5rem;
    padding: .1rem;
    border:1px solid rgba(255, 255, 255, .5);
    border-radius: .6rem;
    text-align: center;
}


.attr{
    margin-top: -.7rem;
}
.attr div div:last-child{
    margin-top: .2rem;;
}
.attr div:nth-child(3) div:nth-child(1){
    background: #ff7877;
}
.attr div:nth-child(3) div:nth-child(2){
    background: #ebe8ff;
    color: #a789bc;
}
.attr div:nth-child(2) div:nth-child(1){
    background: #eeb263;
}
.attr div:nth-child(2) div:nth-child(2){
    background: #e1f4da;
    color: #75bfae;
}
.attr div:nth-child(1) div:nth-child(2){
    background: #ffe4df;
    color: #ff747a;
}
.goods{
    position: relative;
    width: 13.3rem; 
    margin: auto;
    /* background: red; */
    /* opacity: 0.4; */
    /* height: 8rem; */
}
.goods >div{
    position: absolute;
    /* display: none; */
}
.goods >div:nth-child(1){
    top: .5rem;
    left: 1.85rem;
    width: 4.15rem;
    height: 3.1rem;
    background-position: 0 -2.9em;
}

.goods >div:nth-child(2){
    top: .8rem;
    left: 7.85rem;
    width: 3.35rem;
    height: 2.75rem;
    background-position: -4.55rem -3rem;
}


.goods >div:nth-child(3){
    top: 4.7rem;
    left: 1.85rem;
    width: 4.15rem;
    height: 3.1rem;
    background-position: -8.3rem -3.1rem;
}

.goods >div:nth-child(4){
    top: 4.9rem;
    left: 8.5rem;
    width: 2.05rem;
    height: 1.95rem;
    background-position: 0 0;
}


@keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  /*zoomOut    left1 */
  @keyframes zoomOutDownleft1 {
    40% {
      opacity: 1;
      transform: scale3d(.475, .475, .475) translate3d(0, 0, 0);
      animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
  
    to {
      opacity: 0;
      transform: scale3d(.1, .1, .1) translate3d(15rem, 50rem, 0);
      transform-origin: center bottom;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
  }
  
  .zoomOutDownleft1 {
    animation-name: zoomOutDownleft1;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  /*zoomOut    right1 */
    @keyframes zoomOutDownright1{
    40% {
      opacity: 1;
      transform: scale3d(.475, .475, .475) translate3d(0, 0, 0);
      animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
  
    to {
      opacity: 0;
      transform: scale3d(.1, .1, .1) translate3d(-15rem, 50rem, 0);
      transform-origin: center bottom;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
  }
  
  .zoomOutDownright1 {
    animation-name: zoomOutDownright1;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  /*zoomOut    left2 */
  @keyframes zoomOutDownleft2 {
    40% {
      opacity: 1;
      transform: scale3d(.475, .475, .475) translate3d(0, 0, 0);
      animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
  
    to {
      opacity: 0;
      transform: scale3d(.1, .1, .1) translate3d(15rem, 30rem, 0);
      transform-origin: center bottom;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
  }
  
  .zoomOutDownleft2 {
    animation-name: zoomOutDownleft2;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

    /*zoomOut    right2 */
    @keyframes zoomOutDownright2{
        40% {
          opacity: 1;
          transform: scale3d(.475, .475, .475) translate3d(0, 0, 0);
          animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        }
      
        to {
          opacity: 0;
          transform: scale3d(.1, .1, .1) translate3d(-15rem, 30rem, 0);
          transform-origin: center bottom;
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        }
      }
      
      .zoomOutDownright2 {
        animation-name: zoomOutDownright2;
        animation-duration: 1s;
        animation-fill-mode: both;
      }

.poetic{
    position: absolute;
    margin: auto;
    left:0;
    right: 0;
    top: 17.36rem;
    font-size: .7rem;
    color: #fff;

}
.poetic p{
    width: 8.25rem;
    margin: 0 auto;
    padding-right: .4rem;
    /* display: none; */
}
.sec-public .claim-div{
    /* margin-top: 10.1rem; */
    position: absolute;
    top: 19.2rem;
    /* background: red; */
    left: 0;
    right: 0;
    /* display: none; */
}
.sec-public .claim-div span.spirit{
    width: 3.9rem;
    height: 1.85rem;
    line-height: 1.85rem;
    background-position: -12.3rem -3.05rem;
}


.sec5 .goods >div:nth-child(1){
    top: .1rem;
    left: 1.85rem;
    width: 4.65rem;
    height: 3.95rem;
    background-position: -19rem 0;
}

.sec5 .goods >div:nth-child(2){
    top: 1.5rem;
    left: 7.85rem;
    width: 3.3rem;
    height: 2rem;
    background-position: -8.2rem 0;
}


.sec5 .goods >div:nth-child(3){
    top: 4.7rem;
    left: 2.85rem;
    width: 3.55rem;
    height: 2.5rem;
    background-position: -11.55rem 0;
}

.sec5 .goods >div:nth-child(4){
    top: 4.9rem;
    left: 8.5rem;
    width: 2.15rem;
    height: 2.05rem;
    background-position: -11.15rem -6.3rem;
}

/* sec6 */
.sec6 .sec6-strp1{
    text-align: left;
    padding-left: .3rem;
}
/* sec7  */

.sec7 .sec7-strp1{
    text-align: left;
    padding-left: .3rem;
}

.sec7 .claim-div{
    margin-top: 1.5rem;
    position: relative;
}
.sec7 .claim-div span.spirit{
    width:4.35rem;
    height: 2rem; 
    background-position: -13.65rem -6.3rem;
    line-height: 1.8rem;
}
.sec7 .claim-div .ripple{
    top: -1rem;
    margin-left: .1rem;
}

/* sec8 */
.sec8{
    /* background-image: url("../image/hzbj.jpg") */
}
.slide-div{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 5.4rem;
    background:rgba(255, 255, 255, .4);
    border-left: 1px solid rgba(194, 194, 194, .7);
    z-index: 3;
}



@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  
    from {
      opacity: 0;
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0px, 0, 0);
    }
    to {
      transform: none;
    }
  }
  
  .bounceInRight {
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: bounceInRight;
  }



.slide-all p{
    margin-top: .8rem;
    color: #684a49;
    height: 1.85rem;
    width: 3.95rem;
    line-height: 1.85rem;
    font-size: .7rem;
    box-sizing: border-box;
    padding-left: 1.3rem;
}


.category-hair{
    margin-top: 2.9rem!important;
    background-position: -34.7rem -3.05rem;
}
.category-dress{
    background-position: -34.7rem -5.1rem;
}
.category-access{
    background-position: -34.7rem -7.15rem;  
    font-size: .5rem !important; 
}
.category-makeup{
    background-position: -34.75rem -9.25rem; 
    font-size: .5rem !important;      
}
.category-last{
    width: 3.95rem;
    height: 9.75rem;
    margin-top: .8rem;
    background-position: -34.75rem -11.4rem; 
}
.category-last p.category-tops{
    margin-top: 0 !important;
}

.text-spirit{
    display: inline-block;
    /* background-image: url('../image/textimg.png'); */
    background-repeat: no-repeat;
    background-size: 4.45rem 5.3rem;
}

.category-hair-e{
    width: 0.9rem;
    height: 0.45rem;
    background-position: 0 0;
}
.category-hair-f{
    width: 1.9rem;
    height: 0.45rem;
    margin-left: .2rem;
    background-position: -2.4rem 0;
}
.category-dress-e{
    width: 1.4rem;
    height: 0.45rem;
    background-position: 0 -.6rem;
}
.category-dress-f{
    width: 1.3rem;
    height: 0.45rem;
    background-position: -2.4rem -.65rem;
}
.category-accessory-e{
    width: 2rem;
    height: 0.6rem;
    margin-top: .7rem;
    background-position: 0 -1.2rem;
}
.category-accessory-f{
    width: 2.05rem;
    height: 0.45rem;
    margin-top: .7rem;
    background-position: -2.4rem -1.35rem;
}
.category-makeup-e{
    width: 1.55rem;
    height: 0.6rem;
    margin-top: .7rem;    
    background-position: 0 -1.95rem;
}
.category-makeup-f{
    width: 2rem;
    height: 0.6rem;
    margin-top: .7rem; 
    margin-left: .3rem;   
    background-position: -2.4rem -1.95rem;
}
.category-tops-e{
    width: 1.2rem;
    height: 0.6rem;
    margin-top: .7rem;    
    background-position: 0 -2.7rem;
}
.category-tops-f{
    width: 1.15rem;
    height: 0.45rem;
    margin-top: .7rem; 
    background-position: -2.4rem -2.65rem;
}
.category-bottoms-e{
    width: 1.9rem;
    height: 0.45rem;
    position: relative;
    top: -.12rem;
    background-position: 0 -3.45rem;
}
.category-bottoms-f{
    width: .95rem;
    height: 0.45rem;
    margin-top: .7rem; 
    background-position: -2.4rem -3.25rem;
}
.category-handheld-e{
    width: 2.1rem;
    height: 0.45rem;
    position: relative;
    top: -.12rem;
    background-position: 0 -4.05rem;
}
.category-handheld-f{
    width: 1.85rem;
    height: 0.45rem;
    margin-top: .8rem; 
    background-position: -2.4rem -3.9rem;
}
.category-special-e{
    width: 1.75rem;
    height: 0.65rem;
    background-position: 0 -4.65rem;
}

.category-special-f{
    width: 1.75rem;
    height: 0.65rem;
    margin-top: .6rem; 
    background-position: -2.4rem -4.5rem;
}


.person{
    margin: 0 auto;
    margin-top: 2.4rem;
    /* width:6.75rem; */
    /* background: red; */
    position: relative;
    height: 21.3rem;

}
/* 模特 */
.person img{
    width: 6.05rem;
    height: 18.65rem;
    position: absolute;
    top: 1rem;
    left: 2em;
}
/* 默认发型 */
.default-hair{
    width: 5.75rem;
    height: 8.9rem;
    position: absolute;
    top: .8rem;
    left: 1.7rem;
    background-position: -18.15rem -4.3rem;
    z-index: 3;
}
.default-clothes{
    width: 2.5rem;
    height:2.85rem;
    position: absolute;
    top: 4.1rem;
    left: 3.8rem;
    background-position: -31.75rem -10.95rem;
    z-index: 3;
}

.dream-hair{
    width: 7.15rem;
    height: 15.4rem;
    position: absolute;
    top: .7rem;
    left: -.06rem;
    background-position: -39.75rem 0;
    z-index: 3;
}
.dream-tou{
    width: 5.2rem;
    height: 8.3rem;
    position: absolute;
    top: 1.3rem;
    left:2.3rem;
    background-position: -57.8rem 0;
    z-index: 4;
}
/* 项链 */
.dream-xl{
    width: 1.55rem;
    height: .8rem;
    position: absolute;
    top: 3.8rem;
    left:4rem;
    background-position: -57.8rem -8.5rem;
    z-index: 2;
}
.dream-face{
    width: 2.25rem;
    height: 2.65rem;
    position: absolute;
    top: 1rem;
    left:3.9rem;
    background-position: -34.6rem 0;
    z-index: 2;
}

.dream-clothes{
    width: 16rem;
    height: 17.4rem;
    position: absolute;
    top: 4.17rem;
    left: -.1rem;
    background-position: 0 -10.1rem;
    z-index: 2;
}


.tomorrow-hair{
    width: 3.5rem;
    height: 10.95rem;
    position: absolute;
    top: .9rem;
    left: 2.8rem;
    background-position: -47.2rem 0;
    z-index: 2;
}
.tomorrow-tou{
    width: 6.6rem;
    height: 12.65rem;
    position: absolute;
    top: 1.1rem;
    left:-.3rem;
    background-position: -51.05rem 0;
    z-index: 4;
}
.tomorrow-face{
    width: 2.15rem;
    height: 2.65rem;
    position: absolute;
    top: 1rem;
    left:3.9rem;
    background-position: -37.2rem 0;
    z-index: 1;
}
.tomorrow-clothes{
    width: 16rem;
    height: 17.4rem;
    position: absolute;
    top: 4.9rem;
    left: -.05rem;
    background-position: -16.35rem -13.45rem;
    z-index: 2;
}




/* 发型侧边栏 */
.slide-hair .hair-dream{
    margin-top: 4.9rem;
    width: 2.85rem;
    height: 3.95rem;
    background-position: -31.15rem -2.65rem;
}

.slide-hair .hair-tomorrow{
    margin-top: 1.85rem;
    width: 2.55rem;
    height: 3.9rem;
    background-position: -31.15rem -6.8rem;
}
.slide-back {
    width: 2.05rem ;
    height: 1.25rem ;
    margin-top: 4rem ;
    background-position: -11.15rem -8.6rem ;
}


.movedream {
    animation: movedream .5s 1;
}
.movetomorrow {
    animation: movetomorrow .5s 1;
}
@keyframes movedream {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-8rem, 3rem, 0) scale3d(.5, .5, .5);
    }
}


@keyframes movetomorrow {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-8rem, -3rem, 0) scale3d(.5, .5, .5);
    }
}

/* 服装侧边栏 */

.slide-clothes .clothes-dream{
    margin-top: 5.9rem;
    width: 4.65rem;
    height: 3.55rem;
    background-position: -26.35rem -9.7rem;
}

.slide-clothes .clothes-tomorrow{
    margin-top: 2.85rem;
    width: 4.6rem;
    height: 3.35rem;
    background-position: -26.35rem -6.05rem;
}
.slide-clothes .slide-back {
    margin-top: 3rem ;
}


/* 服装侧边栏 */

.slide-face .face-dream{
    margin-top: 5.9rem;
    width: 3.35rem;
    height: 3.15rem;
    background-position: -24.05rem -2.65rem;
}

.slide-face .face-tomorrow{
    margin-top: 2.2rem;
    width: 3.2rem;
    height: 3rem;
    background-position: -27.7rem -2.65rem;
}
.slide-face .slide-back {
    margin-top: 4.4rem ;
}


.getpress-div{
    position: relative;
    width: 2.85rem;
    height: 1.9rem;
    margin-left: .4rem;
    margin-top: 2rem;
}
.getpress-div .press-btn.enable-e{
    width: 2.85rem;
    height: 1.9rem;
    background-position: -31.6rem -14.15rem;
}
.getpress-div .press-btn.unable-e{
    width: 2.85rem;
    height: 1.9rem;
    background-position: -31.6rem -16.1rem;
}

.getpress-div .press-btn.enable-f{
    width: 2.85rem;
    height: 1.9rem;
    background-position: -31.6rem -20rem;
}

.getpress-div .press-btn.unable-f{
    width: 2.85rem;
    height: 1.9rem;
    background-position: -31.6rem -14.15rem;
}

.sec8 .dialog-box{
    z-index: 5;
    width: 9.6rem;
    height: 3.25rem;
    margin-left: .4rem;
    margin-top: -9rem;
}

.sec8 .dialog-box .ripple{
    top: .3rem;
    left: 4rem;
}
.time-div{
    font-size: .6rem;
    width:10rem;
    height: 2rem;
    margin-left: .4rem;
    color: #79644d;
}


.time-progress{
    margin-top: .2rem;
}
.time-content {
    /* width: 13.9rem; */
    background: #fff;
    height: 0.35rem;
    margin:0 auto;
    border-radius: 0.2rem;
    box-sizing: border-box;
    padding: 0.05rem;
}
.time-content .timebar{
    height: 0.25rem;
    border-radius: 0.2rem;
    background: #a5cfe8;
    /* width: 0; */
}


/* sec9 */
.sec9{
    /* background-image: url("../image/cpbg.jpg"); */
}
.sec9 .person-result {
    margin: 0 auto;
    margin-top: 2.4rem;
    position: relative;
    height: 21.3rem;
}
.sec9 .person-result img{
    width: 6.05rem;
    height: 18.65rem;

}

.sec9 .dialog-box{
    width: 13.25rem;
    height: 4.35rem;
}
.sec9 .dialog-box p:nth-child(1){
    margin-top: .7rem;
}
.sec9 .operation-div{
    width: 13.25rem;
    margin: 0 auto;
    margin-top: .7rem;
}
.sec9 .operation-div a{
    color: #fff;
    font-size: .8rem;
}
.sec9 .operation-div a:nth-child(1){
    width: 3.85rem;
    height: 1.75rem;
    line-height: 1.65rem;
    background-position: -43.35rem -15.8rem;
}
.sec9 .operation-div a:nth-child(2){
    width: 3.85rem;
    height: 1.8rem;
    line-height: 1.7rem;
    background-position: -39.15rem -15.75rem;
    margin-left: 2rem;
}

.perfect{
    width: 3.45rem;
    height: 3.6rem;
    position: absolute;
    top: 3rem;
    right: 2rem;
    background-position: -31.6rem -21.95rem;
}



.sec-start-add{
    background-image: url('../image/startbg.jpg'); 
}

.spirit-add{

    background-image: url('../image/img.png');

}

.pumping-cell-add{
    background-image: url('../image/lifu.png');
}

.sec-public-add{
    background-image: url('../image/mrrs.png');
}

.sec8-add{
    background-image: url("../image/hzbj.jpg")
}

.text-spirit-add{
    background-image: url('../image/textimg.png');
}

.sec9-add{
    background-image: url("../image/cpbg.jpg");
}

